{% include "header.html" %}
{% block paging_css %}{% endblock %}
{% load staticfiles %}
{% load avatar_tags %}
{% load url from future %}
<body ng-app="{% block ng_app %}app.app.static{% endblock %}">


    
    <section id="header">
        <div class="navbar-inverse" role="navigation" data-ride="animated" data-animation="fadeInUp" data-delay="300">
            {% block header %}

                <div class="container">
      
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
               <a href="{% url 'homepage' %}" target ="_self"><img src="{% static "img/lender_logo.png" %}" alt="lender logo" class="lender_logo"></a>
                   
                    </div>

{% block links%}{% endblock %}      
{% url 'dash.edit_dashboard' as edit_dashboard_url %}

    <div class="navbar-collapse collapse">
        <ul class="pull-right">
        {% if user.is_authenticated %}
        <div class="Dashing_profile">
        <ul>
            <li style="color:#6ad631">Welcome, {{user}}</li>
            <li><a title="notification chart" rel='tooltip' data-placement='top' href="#"><i class="fa fa-pie-chart"></i></a></li>
            <li><a title="phone" rel='tooltip' data-placement='top' href="#"><i class="fa fa-phone"></i></a></li>
            <li class="img-responsive img-circle"><a title="user" rel='tooltip' data-placement='top' > {% avatar user 20 %} </a></li>
            <li><a href="/dashboard" target="_self">My Account</a></li>
        </ul>
        </div>
        {% else %}
            <div class="Dashing_profile">
        <ul>
            <li><a id="lender_link" href="/accounts/register/" target="_self">Are you a lender?</a> </li>
            <li><a id="login_link" href="/accounts/login/" target="_self">Sign In</a> </li>
             </ul>
        </div>
            {% endif %}
                        <li><a href="#menu" id="toggle" class="pull-right"><span></span></a>

                        <div id="menu" class="pull-right">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/pages/about-us/" target="_self">About Us</a></li>
                            <li><a href="/pages/contact-us/" target="_self">Contact Us</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/accounts/logout" target="_self">Logout</a></li>
                            {% endif %}
                        </ul>
                        </div>
                         </li>
                      </ul>
                         <div class="lnk-t-lndr pull-right">
                       
                       </div> 

                    </div><!--/.nav-collapse -->
                </div>
            {% endblock %}

            {% block content %}
                <div class="banner_sliding">
                    <header id="myCarousel" class="carousel slide">
                        {% block sidebar %}{% endblock %}
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for Slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="main_heading">The money you need<br>
                                <span>is right around the corner</span></div>
                            </div>
                            <div class="item">
                                <div class="main_heading">The money you need<br>
                                <span>is right around the corner</span></div>
                            </div>
            
                            <div class="item">
                                <div class="main_heading">The money you need<br>
                                <span>is right around the corner</span></div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </header>

                    <div class="inputing"  ng-controller = "AppController">
                        <div class="oauthStatus"></div>
                        <form ng-submit="submit()" method="post">{% csrf_token %}                         
                            <input type="email" name="search" ng-model="email"  placeholder="Enter your email address*" class="formatting" required>
                            <input type="submit" class="button" value="Let’s get started">
                        </form>
                    </div>

                </div>
            {% endblock%}
        </div>
    </section>
    
{% block text %}
        <section id="neighboured">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
    
                        <div class="inner_headline">There are so many reasons to borrow from a lender in your neighborhood<br>
                        <span>Why wait for an overnight ACH from an online lender? You can get cash today from a local lender!</span></div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
    
{% block info %}
        <section id="part_body">
            <div class="container">
                <div class="row">
    
                    <div class="col-md-4 col-sm-4 office">


                        <div class="get_denied"><a href="#"><img src="{% static "img/denied.png" %}" alt="get denied"></a></div>
                        <div class="denied_desp">Why get denied?</div>
                        <div class="denied_paragraph">Storefront lenders don’t have to worry<br>
                        about internet fraud and are able to approve<br>
                        more customers for loans</div>
                    </div>

                    <div class="col-md-4 col-sm-4 office">

                        <div class="get_denied"><a href="#"><img src="{% static "img/personal_risk.png" %}" alt="personal risk"></a></div>

                        <div class="denied_desp">Why put your personal <br>
                            information at risk?</div>
                        <div class="denied_paragraph1">Your provide your bank account and SSN<br>
                        directly to your lender instead of providing<br>
                        it to a lead generator who sells it to<br>
                        the highest bidder.</div>
                    </div>
    
                    <div class="col-md-4 col-sm-4 office">

                        <div class="get_denied"><a href="#"><img src="{% static "img/pay_more.png" %}" alt="pay more"></a></div>

                        <div class="denied_desp">Why pay more?</div>
                        <div class="denied_paragraph">We only work with state licensed lenders <br>who you can meet face-to-face.
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}

{% block testimonials %}
        <section id="testimonial_body">
            <div class="container">
                <div class="row">
                    <div class="main_testimonial">
                        <!--Testimonials Start-->
                        <div>
                        <div class="client_heading">LocalLenders.Net is here to help</div>
                        <div class="client_paraph">
                            <ul class="bxslider">
                            <li class="dept">
                                You don’t need direct deposit to get money today from a lender in your neighborhood.<br>
                                Fill out your contact information above, and we will help you find a reputable,<br>
                                state-licensed local lender who can get you the cash you need today.
                                <p class="poweratic">- Johnshon Mart</p>
                            </li>
                            <li class="dept">
                                You don’t need direct deposit to get money today from a lender in your neighborhood.<br>
                                Fill out your contact information above, and we will help you find a reputable,<br>
                                state-licensed local lender who can get you the cash you need today.
                                <p class="poweratic">- Johnshon Mart</p>
                            </li>
                            <li class="dept">
                                You don’t need direct deposit to get money today from a lender in your neighborhood.<br>
                                Fill out your contact information above, and we will help you find a reputable,<br>
                                state-licensed local lender who can get you the cash you need today.
                                <p class="poweratic">- Johnshon Mart</p>
                            </li>
                            </ul>
                        </div>
                        </div>
                        <!--Testimonials End-->
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block footer_nav %} 
        <section id="footer_nav">
            <div class="container">
                <div class="row">
    
                <div class="col-md-8 col-sm-8">
    
                <div class="legal_info">
                    <div class="menu_heading">LEGAL</div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Term of use</a></li>
                            <li><a href="#">Privacy and Security</a></li>
                            <li style="border-bottom:none;"><a href="#">Concept of Disclosures</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="legal_info2">
                    <div class="menu_heading">INFORMATION CENTER</div>
                    <div class="menu2">
                        <ul>
                           <li><a href="#">FAQs</a></li>
                            <li style="border-bottom:none;"><a href="http://www.consumerfinance.gov">CONSUMER FINANCE</a></li>
                        </ul>
                    </div>
                </div>
                
                
                <div class="legal_info1">
                    <div class="menu_heading">CONTACT US</div>
                    <div class="menu1">
                        
                    </div>
                </div>
    
                </div>
    
    
                <div class="col-md-4 col-sm-4">
                    <div class="footer_logo"><img src="{% static "img/local_lender_logo.png" %}" alt="footer logo"></div>
                </div>
            </div>
            </div>
        </section>
{% endblock %}

{% block footer %}
        <section id="part_end">
            <div class="container">
                <div class="row">
    
                    <div class="col-md-8 col-sm-8">
                        <div class="copyright">© 2014 local lender.net All rights Reserved </div>
                    </div>
    
                    <div class="col-md-4 col-sm-4 pull-right">
    
                        <div class="social_icon">
                            <div class="facebook"><a title="facebook" rel='tooltip' data-placement='top' href="#"><i class="fa fa-facebook"></i></a></div>
                            <div class="facebook"><a title="Comments" rel='tooltip' data-placement='top' href="#"><i class="fa fa-comments"></i></div>
                            <div class="facebook"><a title="Twitter" rel='tooltip' data-placement='top' href="#"><i class="fa fa-twitter"></i></div>
                            <div class="facebook"><a title="Clock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
{% endblock %}

{% include "footer.html" %}
{% block paging_js %}{% endblock %}
{% block javascript %}{% endblock %}
