{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.group == "Customers" %}
        <script>window.location.href = "/customer-dashboard/"</script>
    {% elif user.group == "Lenders" %}
        <script>window.location.href = "/lender-dashboard/"</script>
    {% elif user.is_staff == True %}
        <script>window.location.href = "/staffdashboard"</script>
    {% endif %}
{% else %}
    <script>window.location.href = "/accounts/login/"</script>
{% endif %}  
{% endblock %}
</div>
