{% load staticfiles %}
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/angular/libs/angular.js" %}"></script>
    <script src="{% static "js/angular/libs/angular-resource.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/angular/app.js" %}"></script>
    <script src="{% static "js/angular/controllers/appcontroller.js" %}"></script>
    <script src="{% static "js/bx-slider/jquery.bxslider.min.js" %}"></script>
    <script src="{% static "js/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "js/general.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

    <script src="{% static "js/idangerous.swiper.min.js" %}"></script>
{% block stripe %}
<!--script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script>
    $(function() {
        $('body').on("click", '.change-card, .subscribe-form button[type=submit]', function(e) {
          e.preventDefault();
          var $form = $(this).closest("form"),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $form.trigger("submit");
              };

          StripeCheckout.open({
            key:         'pk_test_3j0y9oG0BYaFWw8DbkpRiXQt',
            name:        'Payment Method',
            panelLabel:  'Pay',
            token:       token
          });

          return false;
        });
    });
</script>

<script src="{% static "js/eldarion-ajax.js" %}"></script-->  

{% endblock %}



{% block paging_js %}
    

{% endblock %}

{% block javascript %}{% endblock %}
</body>
</html>