{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info%}{% endblock %}

{% block content %}
<section id="neighboured_second">
    <div class="container">
	{% block forgot-Password %}
	<div class="row">
	<div class="col-md-12">
	
    <div class="inner_headline1">Forgot Password</div>
 	
    <div class="main_forgot_pass" ng-controller="{% block ng_controller %}ForgotPasswordController{% endblock %}"><!--sign in left form part start here-->
	<div id="passwordStatus"></div>
	<form  ng-submit="submit()" role="form" name="forgotPasswordForm" id="forgotPassword-form"  method="POST">{% csrf_token %}
    
  	<div>
    <label for="email">Email ID : <span class="star">*</span></label>
    <input required type="email" ng-model="email" name="email" id="email" placeholder="Email">
 	</div>
    
     
  	<div>
  	<label></label>
    <input required type="submit" name="submit" id="submit" value="Get Password" class="button5">
    <!--a href="#" class="member_action">Forgot Password</a-->
 	</div>
    </form>
    </div><!--sign in left form part close here-->
   
    
    
	</div>
	</div>
    {% endblock %}
		</div>
		</section>



{% endblock %}



{% block ng_app %}app.app.static{% endblock %}