{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haystack Analytics</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "css/lender.css" %}" rel="stylesheet">    
    <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet">
    <link href="{% static "fonts/stylesheet.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">    
    <!-- Custom CSS -->
    <link href="{% static "css/full-slider.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/idangerous.swiper.css" %}" rel="stylesheet">
        
        
{% block paging_css %}
    <!--link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"-->
{% endblock %}
</head>