{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block content %}
<section id="neighboured_second">
    <div class="container">
	<div class="row">
	    <div class="col-md-12" >
                <div class="inner_headline1">Customer Sign Up</div>
    {% block customerSignUp %}
        <div class="application_form" ng-controller="{% block ng_controller %}CustomerSignUpController{% endblock %}"><!--application form start here-->
   	    <div class="inner_form">
                <div class="main">
                    <div class="one">
                        <div class="register">
                            <div id = "authStaffStatus"></div>
                            <div id="loader_app"></div>
                            <form  ng-submit="submit()" role="form" name="customerSignUp" id="customersignup-form"  method="POST" >{% csrf_token %}
                                <div>
                                    <label for="first name">First Name</label>
                                    <input type="text"  required="true" placeholder="Enter your first name" id="customerFirstName" ng-model = "customerFirstName" spellcheck="false" id="name">
                                </div>
                                <div>
                                    <label for="last name">Last Name</label>
                                    <input type="text" required="true" placeholder="Enter your last name" id="customerLastName" ng-model = "customerLastName" spellcheck="false" id="surname">
                                </div>
                                <div>
                                    <label for="number">Phone Number</label>
                                    <input type="text" required="true" placeholder="Enter your phone number" id = "customerPhoneNumber" ng-model = "customerPhoneNumber" onkeypress="return event.charCode &lt;= 57">
                                </div>
                                <div>
                                    <label for="zipcode">Zip Code</label>
                                    <input type="text" required="true" placeholder="Enter your zipcode" id="customerZipCode" ng-model = "customerZipCode" onkeypress="return event.charCode &lt;= 57">
                                    <input type="hidden" id = "useremail" value="">
                                </div>
                                <div>
                                    <label for="submission"></label>
                                    <input type="submit" class="button2" id="create-account" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
</section>
    {% endblock %}
    </div>
</div>
{% endblock %}

{% block info %}
    <section id="neighboured">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
	
                <div class="inner_headline1"> Local lenders are ready to give you the money you need</div>
    
                    <div>
                        <div class="progressing" class="nav nav-tabs" role="tablist"></div>
                        <ul id="progressbar">
                            <li class="active"><a href="#home" role="tab" data-toggle="tab" title="Getting Started" rel='tooltip' data-placement='bottom'>Provide your contact info</a></li>
                            <li><a href="#profile" role="tab" data-toggle="tab" title="Locate Nearest Lender" rel='tooltip' data-placement='bottom'>Select a local lender
</a></li>
                            <li><a href="#messages" role="tab" data-toggle="tab" title="Schedule Appointment" rel='tooltip' data-placement='bottom'>Schedule an appointment</a></li>
                            <li><a href="#settings" role="tab" data-toggle="tab" title="Go to Store" rel='tooltip' data-placement='bottom'>Go to the store</a></li>
                        </ul>
                    </div>
                </div>
	    </div>
	</div>
        </section>
    
{% endblock %}


