{% load staticfiles %}

<html>
<body ng-app="app.app.playground">
{% verbatim %}
<div class="content" ng-controller="AppController">
    <ol>
        <li ng-repeat="user in users">{{ user.username }} <button ng-click="deleteUser(user)">delete</button></li>
    </ol>
New User <input type="text" ng-model="newUsername"> <button ng-click="addUser()">Add</button>
</div>
{% endverbatim %}
<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>