{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info%}{% endblock %}

{% block content %}
<section id="neighboured_second">
    <div class="container">
        {% block SignOut%}
	<div class="row">
            <div class="col-md-12">
                <div class="inner_headline1">You have successfully logged out</div>
  
                <div class="main_sign_in"><!--sign in left form part start here-->
                    <a href="/SignIn" class="member_action">Sign In</a>
                </div>
    
            </div><!--sign in left form part close here-->
        </div>
    </div>
    {% endblock %}
</section>
{% endblock %}

{% block ng_app %}app.app.static{% endblock %}