{% extends 'base.html' %}

{% block content %}
<section id="neighboured_second">
    <div class="container">
    {% block staffSignUp %}
        <div class="row">
            <div class="col-md-12">
                <div class="inner_headline1">Staff Sign In</div>
            <div class="staffLogin content ng-cloak" ng-controller="{% block ng_controller %}StaffController{% endblock %}">
                <div class="col-md-6">
                    <div id="authStaffStatus"></div>
                    
                    <div class="staff_sign_up">
                    <form ng-submit="submit()" role="form" name="staffLogin" id="staffLogin" method="POST" novalidate>{% csrf_token %}
                        
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" required="true" class="form-control" ng-model="staffEmail" id="staffEmail" name="staffEmail" placeholder="Enter email">
                        </div>
                        
                        <div class="form-group">
                          <label for="exampleInputEmail1">Username</label>
                          <input type="text" required="true" class="form-control" ng-model="staffUsername" id="staffUsername" name="staffUsername" placeholder="Enter username">
                        </div>
                        
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" required="true" class="form-control" ng-model="staffPassword" id="staffPassword" name="staffPassword" placeholder="Password">
                        </div>                    
                        
                        <div class="checkbox">
                          <label></label>
                            <input type="checkbox"> Remember Me
                          
                        </div>
                       
                       
                       
                        <button id="idStaffLogin" type="submit" ng-disabled="staffLogin.$invalid" class="button6">Submit</button>
                    </form>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
</div>
</section>
{% endblock %}

{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}