{% extends 'base.html' %}
{% load url from future %}
{% load bootstrap_tags %}
{% load static %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}

{% block content %}
<section id="neighboured_second">
    <div class="container">
        {% block dashboard %}
	<div class="row">
	    <!-- Modal for server update -->
	    <div class="modal fade" id="in-progress">
	      <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Server Update In-Progress <img class="pull-right" src="{% static 'img/in-progress.gif' %}" /></h4>
		  </div>
		  <div class="modal-body">
		      <div class="progress">
			  <div class="progress-bar" style="width: 0%;"></div>
		      </div>
		  </div>
	  
		</div><!-- /.modal-content -->
	      </div><!-- /.modal-dialog -->
	    </div><!-- /.modal -->
	<div>
	<div class="row">
		<div class="col-md-3 col-sm-3">    
		    <div class="left_vertical_nav">
			<div class="navigation">
			    <ul>
				<li><a href="/">Home</a></li>
				<li><a href ="/lender-dashboard/">Profile</a></li>
				<li><a href="/about-us/">About Us</a></li>
				<li><a href="/leads/">Customers</a></li>
				<li><a href="#">Documents</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="/contact-us/"">Contact Us</a></li>
			    </ul>
			</div>
		    </div>
		</div>
		{% block right_span_payment %}{% endblock right_span_payment %}
		<!--============right_content_start_here===============-->
		{% block right_span_default %}
		<div class="col-md-9 col-sm-9">
		    <div class="lender_account_dashboard">
			<div class="device">
			    <a class="arrow-left" href="#"></a> 
			    <a class="arrow-right" href="#"></a>
			    <div class="swiper-container">
				<div class="swiper-wrapper">
				    <!--====first inner part start here====--> 
				    <div class="swiper-slide">
					<div class="lender_account_part_start"><!--first part start here-->
					    <div class="inner_heading_part">Lender's Account</div>
					    <div>
						<div class="progressing_lender" class="nav nav-tabs" role="tablist"></div>
						<ul id="progressbar_lender">
						    <li class="active"><a href="#home" role="tab" data-toggle="tab" title="Get Started" rel='tooltip' data-placement='bottom'>Get Started</a></li>
						    <li><a href="#profile" role="tab" data-toggle="tab" title="Agreement" rel='tooltip' data-placement='bottom'>Agreement</a></li>
						    <li><a href="payments/" data-placement='bottom'>Pricing Plan</a></li>
						    <li><a href="#settings" role="tab" data-toggle="tab" title="Payment" rel='tooltip' data-placement='bottom'>Payment</a></li>
						    <li><a href="#complete" role="tab" data-toggle="tab" title="Complete!" rel='tooltip' data-placement='bottom'>Complete!</a></li>
						</ul>
					    </div>
					    <!-- Tab panes -->
					    <div class="tab-content">
						<div class="tab-pane active" id="home">
						    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from  45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one  of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical   literature, discovered the undoubtable source. Lorem Ipsum comes from sections .</p>
						</div>
						<div class="tab-pane" id="profile">
						    <p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by     injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						</div>
    
						<!--pricing plan content start here-->  
						<div class="tab-pane" id="messages">
						    <div class="offred_lead">
						    {% block subscription %} {% endblock %}
						    </div>
						</div>
						<!--pricing plan content close here-->
      
						<div class="tab-pane" id="settings"><!--=====payment content start here======-->
						    <div class="payment_inner">
    
							<form>{% csrf_token %}
							    <div>
								<label>Name:</label>
								<input required type="text" placeholder="Name of Card">
							    </div>
    
							    <div>
								<label>Card No:</label>
								<input required type="text" data-beatpicker="true" placeholder="Date"/>
							    </div>
    
							    <div>
								<label>Expire on:</label>
								<input required type="text" placeholder="Name of Card">
							    </div>
    
							    <div>
								<label>VCC:</label>
								<input type="text" placeholder="VCC">
							    </div>
    
							    <div>
								<label></label>
								<input type="submit" value="Place My Order" class="place_order">
							    </div>
    
    
							
						    <!--ends here----->
						    </div>
						</div><!--=====payment content close here======-->
    
    
						<div class="tab-pane" id="complete">
						    <div class="request_complete">
							<div class="request">Request has been placed successfully.</div>
    
						    </div>
						</div>
							  
					     </div>
					</div><!--first part close here-->
				    </div>
				    <!--====first inner part close here====--> 
				</div>
			    </div>
			    <div class="pagination"></div>
			</div>
		    </div> 
		</div>
		{% endblock right_span_default %}
		<!--=============right_content_close_here==============-->
            </div>
            </div>
        {% endblock %}
    </div>
</section>
{% endblock %}



