{% extends 'base.html' %}
{% load staticfiles %}
{% load avatar_tags %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block content %}
<section id="neighboured_second">
    <div class="container">
      {% block account %}
	<div class="row">
	  <div class="col-md-3 col-sm-3">
	    <div class="left_vertical_nav">
	      <div class="navigation">
		<ul>
		  <li><a href="/lender-dashboard/get-started">Get Started</a></li>
                            <li><a href="/leads/">Customers</a></li>
                            <li><a href="">Documents</a></li>
                            <li><a href="/dashboard/">Dashboard</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="/about-us/">About Us</a></li>
                            <li><a href="/contact-us/"">Contact Us</a></li>
		</ul>
	      </div>
	    </div>
	  </div>
	  <!--============right_content_start_here===============-->
	  <div class="col-md-9 col-sm-9">
	    <div class="customer_profile_dashboard">
	      <div class="device">
		<a class="arrow-left" href="#"></a> 
		<a class="arrow-right" href="#"></a>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
                    <div class="inner_heading_part">My Profile</div>
                    <div id="saveStatus" class="alert alert-success"></div>
		    <!--====first inner part start here====--> 
		    <div class="swiper-slide" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
		      <div class="customer_profile" ng-controller="{% block ng_controller %}LenderProfileController{% endblock %}"><!--first part start here-->
			<div class="prof_man">{% avatar user %}<span class="john_style_second">
                        {% verbatim %}
                        {{ LenderInfo.username }}<br>Member Since 1 year<br>
                        {% endverbatim %}
			<a href="{% url 'avatar_change' %}">Change your avatar</a>
                        </span></div>
			
                        <div class="inner_customer">
			    <div id="leadStatus"></div>
			  <form  ng-submit="submit()" role="form" name="leadinfo" id="leadInformation-form"  method="POST">{% csrf_token %}
			{% verbatim %}
			    <div class="col-md-6">
                                <div>
				  <label>Owner Name :</label>
				  <input required maxlength="50" type="text" placeholder="Enter owner's Name" id="owner_name" ng-model="owner_name">
				</div>
			    
				<div>
				  <label>Owner Phone:</label>
				  <input type="text" maxlength="10" placeholder="0987654321" id="owner_phone" ng-model="owner_phone" onkeypress='return event.charCode <= 57'>
				</div>
    
				<div>
				  <label>Owner Email :</label>
				  <input required type="email" placeholder="owner@gmail.com" maxlength="50" ng-model="owner_email">
				</div>
                                
                                <div>
				  <label>EIN Number:</label>
				  <input required type="text" placeholder="Enter EIN Number" maxlength="9" id ="ein_number" ng-model="ein_number">
				</div>
                                
                                <div>
				  <label>Store Phone:</label>
				  <input type="text" maxlength="10"  id="store_phone" ng-model="store_phone" onkeypress='return event.charCode <= 57'>
				</div>
                                
                                <div>
				  <label>Store Address:</label>
				  <textarea ng-model="store_address"></textarea>
				</div>
			    
			    </div><!--Left part ends -->
			    <div class="col-md-6">
                                
                                <div>
				  <label>Store Email :</label>
				  <input required type="email"  maxlength="50" id="store_email" ng-model="store_email">
				</div>
			    
				<div>
				  <label>Manager Name :</label>
				  <input required maxlength="30" placeholder="Enter Manager's Name" type="text" id="manager_name" ng-model="manager_name">
				</div>
			    
				<div>
				  <label>Manager Email :</label>
				  <input type="email" placeholder="manager@gmail.com" maxlength="100" ng-model="manager_email">
				</div>
                                
                                <div>
				  <label>Manager Phone:</label>
				  <input type="text" maxlength="10" id = "manager_phone" placeholder="0987654321" ng-model="manager_phone" onkeypress='return event.charCode <= 57'>
				</div>
                                
                                <div>
				  <label>Loan Limit:</label>
				  <input type="text" id="loan_limit" ng-model="loan_limit" placeholder="$500.00" onkeypress='return event.charCode <= 57'>
				</div>
                            </div><!--right part ends-->
			    <div>
			      <label></label>
			      <input  required type="submit"  id="submit" value="Save Changes" class="button7">
			    </div>
			  {% endverbatim %}
                          </form>
                          <div class="clearfix"></div>
                          <!--request form starts from here--->
                          <form ng-submit="makeRequest()" id="request_form" method="POST">
                            <div>
				<label>Request Form:</label>
				<textarea  required ng-model="request"></textarea>
			    </div>
                            <div>
                                <label></label>
                                <input  required  type="submit"  id="submit" value="Make Request" class="button3">
			    </div>
                          </form>
                          <!------ends here---->
			</div>
		      </div><!--first part close here-->
		    </div>
		    <!--====first inner part close here====--> 
		  </div>
		</div>
		<div class="pagination"></div>
		</div>
	      </div> 
	    </div>
	    <!--=============right_content_close_here==============-->
	  </div>
	
	</div>
      {% endblock %}
      </div>
  </section>
{% endblock %}
{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock %}

