{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info%}{% endblock %}

{% block content %}
<section id="neighboured_second">
    <div class="container">
	<div class="row">
	    <div class="col-md-12" >
		<div class="inner_headline1">Lender Sign Up</div>
		<div class="col-md-12 hectic" ng-controller="{% block ng_controller %}LenderSignUpController{% endblock %}">
		    <div class="main_sign_up"><!--sign up left form part start here-->
			<div id="resultStatus"></div>
			<form  ng-submit="submit()" role="form" name="lenderSignUp" id="lendersignup-form"  method="POST">{% csrf_token %}
			    <div>
				<label for="username">Name : <span class="star">*</span></label>
				<input required type="text" ng-model="lendername" name="lendername" id="lendername" placeholder="Enter your Name">
			    </div>
			    <div>
				<label for="email">Email : <span class="star">*</span></label>
				<input required type="email" ng-model="email" name="email" id="email" placeholder="Email">
			    </div>
			    <div>
				<label for="password">Password : <span class="star">*</span></label>
				<input required type="password"  ng-model="password" name="password" id="password" placeholder="Password">
			    </div>
			    <div>
				<label for="password">Confirm Password : <span class="star">*</span></label>
				<input required type="password" ng-model="confirmPassword" name="password" id="password" placeholder="Confirm Password">
			    </div>
			    <div>
				<label for="entity">Legal Entity Name : <span class="star">*</span></label>
				<input required type="text" ng-model="entityname" name="Legal Entity Name" id="entityname" placeholder="Legal Entity Name">
			    </div>
			    <div>
				<label for="incorporation">State of Incorporation :<span class="star">*</span></label>
				<select id="location" name="location" ng-model="state" required>
				    <option value="">Select Your State...</option>
				    <option value="Alabama">Alabama</option>
				    <option value="Alaska">Alaska</option>
				    <option value="Arizona">Arizona</option>
				    <option value="Arkansas">Arkansas</option>
				    <option value="California">California</option>
				    <option value="Colorado">Colorado</option>
				    <option value="Connecticut">Connecticut</option>
				    <option value="Delaware">Delaware</option>
				    <option value="Florida">Florida</option>
				    <option value="Georgia">Georgia</option>
				    <option value="Hawaii">Hawaii</option>
				    <option value="Idaho">Idaho</option>
				    <option value="Illinois">Illinois</option>
				    <option value="Indiana">Indiana</option>
				    <option value="Iowa">Iowa</option>
				    <option value="Kansas">Kansas</option>
				    <option value="Kentucky">Kentucky</option>
				    <option value="Louisiana">Louisiana</option>
				    <option value="Maine">Maine</option>
				    <option value="Maryland">Maryland</option>
				    <option value="Massachusetts">Massachusetts</option>
				    <option value="Michigan">Michigan</option>
				    <option value="Minnesota">Minnesota</option>
				    <option value="Mississippi">Mississippi</option>
				    <option value="Missouri">Missouri</option>
				    <option value="Montana">Montana</option>
				    <option value="Nebraska">Nebraska</option>
				    <option value="Nevada">Nevada</option>
				    <option value="New Hampshire">New Hampshire</option>
				    <option value="New Jersey">New Jersey</option>
				    <option value="New Mexico">New Mexico</option>
				    <option value="New York">New York</option>
				    <option value="North Carolina">North Carolina</option>
				    <option value="North Dakota">North Dakota</option>
				    <option value="Ohio">Ohio</option>
				    <option value="Oklahoma">Oklahoma</option>
				    <option value="Oregon">Oregon</option>
				    <option value="Pennsylvania">Pennsylvania</option>
				    <option value="Rhode Island">Rhode Island</option>
				    <option value="South Carolina">South Carolina</option>
				    <option value="South Dakota">South Dakota</option>
				    <option value="Tennessee">Tennessee</option>
				    <option value="Texas">Texas</option>
				    <option value="Utah">Utah</option>
				    <option value="Vermont">Vermont</option>
				    <option value="Virginia">Virginia</option>
				    <option value="Washington">Washington</option>
				    <option value="West Virginia">West Virginia</option>
				    <option value="Wisconsin">Wisconsin</option>
				    <option value="Wyoming">Wyoming</option>
				</select>
			    </div>
			    
			    <div>
			    <label for="phone no.">Phone Number : <span class="star">*</span></label>
			    <input required type="text" id="phoneNumber" ng-model="phoneNumber" maxlength="10" onkeypress='event.charCode <= 57' placeholder="Phone Number">
			</div>
  
			<div>
			    <label for="store name">Store Name : <span class="star">*</span></label>
			    <input required type="text" ng-model="storeName" name="store name" id="storename" placeholder="Store Name">
			</div>
  
			<div>
			    <label for="phone no.">City : <span class="star">*</span></label>
			    <input required type="text" id="city" ng-model="city"  onkeypress='event.charCode <= 57' placeholder="Enter your city name	">
			</div>
  
			<div>
			    <label for="store address">Store Address : <span class="star">*</span></label>
			    <textarea placeholder="Store Address" ng-model="storeAddress"></textarea>
			</div>
  
			<label for="incorporation">Services offered :<span class="star">*</span></label>
			<select id="service" name="service" ng-model="service" required multiple>
			    <option value="Payday">Payday</option>
			    <option value="CSO">CSO</option>
			    <option value="Installment loans">Installment loans</option>
			    <option value="Title">Title</option>
			    <option value="pawn">pawn</option>
			    <option value="other">other</option>
			</select>
			<div>
			    <label for="store name">Zip Code : <span class="star">*</span></label>
			    <input required type="text" id="lenderZipcode" ng-model="lenderZipcode" maxlength=6" name="lenderZipcode" onkeypress='return event.charCode <= 57' id="lenderZipcode" placeholder="enter Zip Code">
			</div>
			    
			    
			    
			    
			    
			    
			    <div>
				<label></label>
				<input required type="submit" name="submit" id="submit" value="Create Account" class="button3">
				<a href="/accounts/login/" target="_self" class="member_action">Already have Account</a>
			    </div>
		    </div>
		</div>  
		<!--<div class="col-md-6" id="test">
		    <div class="main_sign_up">-->
			<!--<div>
			    <label for="phone no.">Phone Number : <span class="star">*</span></label>
			    <input required type="text" id="phoneNumber" ng-model="phoneNumber" maxlength="10" onkeypress='event.charCode <= 57' placeholder="Phone Number">
			</div>
  
			<div>
			    <label for="store name">Store Name : <span class="star">*</span></label>
			    <input required type="text" ng-model="storeName" name="store name" id="storename" placeholder="Store Name">
			</div>
  
			<div>
			    <label for="phone no.">City : <span class="star">*</span></label>
			    <input required type="text" id="city" ng-model="city"  onkeypress='event.charCode <= 57' placeholder="Enter your city name	">
			</div>
  
			<div>
			    <label for="store address">Store Address : <span class="star">*</span></label>
			    <textarea placeholder="Store Address" ng-model="storeAddress"></textarea>
			</div>
  
			<label for="incorporation">Services offered :<span class="star">*</span></label>
			<select id="service" name="service" ng-model="service" required multiple>
			    <option value="Payday">Payday</option>
			    <option value="CSO">CSO</option>
			    <option value="Installment loans">Installment loans</option>
			    <option value="Title">Title</option>
			    <option value="pawn">pawn</option>
			    <option value="other">other</option>
			</select>
			<div>
			    <label for="store name">Zip Code : <span class="star">*</span></label>
			    <input required type="text" id="lenderZipcode" ng-model="lenderZipcode" maxlength=6" name="lenderZipcode" onkeypress='return event.charCode <= 57' id="lenderZipcode" placeholder="enter Zip Code">
			</div>-->
		  <!--  </div><!--sign up left form part close here-->
		</div>
	    </form>
	    </div>
	</div>
    </div>
</section>
{% endblock %}
{% block ng_app %}app.app.static{% endblock %}