@charset "utf-8";
/* CSS Document */

/*===html5-supported-css-start-here===*/

header, nav, section, article, aside, footer {
   display:block;
}

/*===html5-supported-css-close-here===*/


*{ margin:0px; padding:0px; outline:none; text-decoration:none;}
html,body{ width:100%; height:100%; color:#646464; line-height:20px; background-color:#fff; font-family:open_sansregular;}

img{ border:none; max-width:100%;}



/*====main css srart here====*/


.social_wall
{
	position:fixed;
	left:0px;
	top:245px;
	cursor:pointer;
	z-index:99999;}
	
	
.social_wall ul{
	margin:0px;
	padding:0px;
}


	
.social_wall ul li{
	display:block;
}
	

#header{
	width:100%;
	background:url(../img/header_bg.png) repeat;
	background-size:100%;
	
}

#header_application {
    background: url("../img/header_bg.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    padding-bottom: 88px;
    width: 100%;
}



 .lender_logo {
    margin-top: 7px;
}

.inner_toggle
{
	margin-top:60px;
	cursor:pointer;
	background:url(../img/toggle.png) no-repeat;
	width:50px;
	height:42px;}


 .banner_sliding {
    display: inline-block;
    margin-top: 39px;
    overflow: hidden;
    padding-bottom: 108px;
    padding-top: 50px;
    width: 100%;
}
        
        
        
  .banner_sliding_application {
    margin-top: -8px;
    padding-bottom: 85px;
    width: 100%;
}
.main_heading{
	font-size:100px;
	font-family: 'bebas_neueregular';
	color:#fff;
	text-align:center;
	text-shadow:2px 2px 2px #2f2f2f;
	line-height: 47px;
}

.main_heading span{
    font-size: 36px;
    letter-spacing: 13px;
    margin-left: 20px;
    text-shadow: 2px 2px 2px #2f2f2f;
    word-spacing: -2px;
}


.inputing
{
	margin-top:41px;
	margin-left:5px;
	width:100%;
	text-align:center;}



.formatting{
	width:520px !important;
	height:50px;
	background:#fff;
	border:none;
	border-radius:5px;
	padding-left:19px;
	font-family:'MyriadProLight';
	font-size:16px;
	color:#000;
}

.button{
	background:#6ad631;
	color:#fff;
	border:none;
	margin-left:6px;
	font-size:18px;
	padding:14px 36px 16px 36px;
	border-radius:5px;
	 font-family: 'MyriadProRegular';
}

.button:hover
{
	background:#53c914;}


#neighboured{
	background:#edeef0;
	width:100%;
}


#neighboured_second{
	background:#edeef0;
	width:100%;
        margin-top: 115px;
}
.inner_headline
{
	font-size:40px;
	 font-family: 'BebasNeueLight';
	 color:#606060;
	 text-align:center;
	 padding:67px 0px 57px 0px;
	 font-weight:bold;
	  letter-spacing: 1px;
	   line-height:39px;
	  }


.inner_headline1
{
	font-size:40px;
	 font-family: 'BebasNeueLight';
	 color:#606060;
	 text-align:center;
	 padding:67px 0px 0px 0px;
	 font-weight:bold;
	  letter-spacing: 1px;
	   line-height:39px;
	  }



.inner_headline span
{
	font-size:18px;
	font-family: 'MyriadProLight';
	 color:#606060;
	 text-align:center;
	 font-weight:normal;
	  }

#part_body
{
	width:100%;
	background:url(../img/inner_bg.png) repeat;
	padding:60px 0px 86px 0px;
	background-size:100%;}

.get_denied{
	width:100%;
	text-align:center;
}

.denied_desp {
    color: #606060;
    font-family: "BebasNeueLight";
    font-size: 22px;
    font-weight: bold;
    margin-top:30px;
    text-align: center;
    width: 100%;
	letter-spacing: 1px;
	line-height: 24px;
}


.denied_paragraph {
    color: #606060;
    font-family: "MyriadProLight";
    font-size: 18px;
    line-height: 23px;
    margin-top:37px;
    text-align: center;
    width: 100%;
}

.denied_paragraph1 {
    color: #606060;
    font-family: "MyriadProLight";
    font-size: 18px;
    line-height: 23px;
    margin-top: 13px;
    text-align: center;
    width: 100%;
}


#testimonial_body
{
	width:100%;
	background:url(../img/testimonial_background.png) repeat;
	padding:60px 0px 56px 0px;
	background-size:100% 100%;}


.footer_logo > img {
    width: 75%;
}


.main_testimonial{
	width:100%;
	text-align:center;
	}

.client_heading
{
	font-size:30px;
	color:#fff;
	 font-family: "BebasNeueLight";
	 font-weight:bold;
	 }


.client_paraph
{
	color:#fff;
	font-family: "MyriadProLight";
	font-size:18px;
	margin-top:33px;
	line-height:30px;
	}


.poweratic{
	 font-family: 'MyriadProRegular';
	font-size:18px;
	font-style:italic;
	margin-top:26px;
	}


#footer_nav
{
	width:100%;
	background:url(../img/footer_back.png) repeat;
	background-size:100% 100%;
	padding:137px 0px 128px 0px;}



.legal_info{
	width:200px;
	float:left;
}

.legal_info1{
	width:200px;
	float:left;
	margin-left:15px;
}


.legal_info2{
	width:200px;
	float:left;
	margin-left:15px;
}


.menu_heading{
	width:100%;
	font-family: "BebasNeueLight";
	font-size:24px;
	font-weight:bold;
	}

.menu{
width:100%;
margin-top:10px;
}


.menu ul
{
	margin:0px; padding:0px;  display:inline-block;}


.menu ul li
{
	font-size:15px;
	color:#fff;
	font-family: 'MyriadProRegular';
	border-bottom:1px dotted #d0d0d0;
	 line-height: 30px;
	
	 
	 }


.menu ul li a{
	color:#666666;
}


.menu ul li a:hover{
	color:#5db72c;
	text-decoration:none;
	margin-left:2px;
}



.menu1{
width:100%;
margin-top:10px;

}


.menu1 ul
{
	margin:0px; padding:0px;
	display:inline-block;}


.menu1 ul li
{
	font-size:15px;
	color:#fff;
	font-family: 'MyriadProRegular';
	border-bottom:1px dotted #d0d0d0;
	 line-height: 30px;
	 
	 }


.menu1 ul li a{
	color:#666666;
}


.menu1 ul li a:hover{
	color:#5db72c;
	text-decoration:none;
	margin-left:2px;
}





.menu2{
width:100%;
margin-top:10px;

}


.menu2 ul
{
	margin:0px; padding:0px;
	display:inline-block;}


.menu2 ul li
{
	font-size:15px;
	color:#fff;
	font-family: 'MyriadProRegular';
	border-bottom:1px dotted #d0d0d0;
	 line-height: 30px;
	 
	 }


.menu2 ul li a{
	color:#666666;
}


.menu2 ul li a:hover{
	color:#5db72c;
	text-decoration:none;
	margin-left:2px;
}
.pull-right > li:first-child {
    font-weight: bold;
    margin-top: 51px;
}
.pull-right li {
    float: left;
    list-style-type: none;
   
}
.pull-right li a {
    color: #6ad631;
}


.footer_logo
{
	float:right;}



#part_end
{
	width:100%;
	background:#5fc12a;
	padding:36px 0px 30px 0px;}


.copyright
{
	width:100%;
	font-size:16px;
	font-family: "MyriadProLight";
	color:#fff;
	}

.social_icon
{
	width:44%;
	float:right;
	}



.facebook
{
	color:#fff;
	font-size:25px;
	font-weight:bold;
	display:inline-block;
	margin-right:15px;
	}


.facebook a{
	color:#fff;
}


.facebook a:hover{
	color:#091304;
	}


/*toggle css start here*/

/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin:60px 80px 10px auto;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background:#6ad631;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}



/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
    left: 113px;    z-index: 999999;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
  top:90px;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 87px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

#menu ul
{margin:0px;
padding:0px;
list-style-type:none;}

#menu ul li
{
	color: #6ad631;
    font-size: 14px;
    padding-bottom: 1px;
    width: 100%;}


#menu ul li a
{         color: #6ad631;
    display: block;
    font-size: 14px;
    padding: 5px 50px;
    text-align: center;
    width: 100%;
	}


#menu ul li a:hover
{
	background:#6ad631;
	color:#fff;
	text-decoration:none;
	}


/*toggle css close here*/



/*appalication page design css start here*/

.application_form{
	width:100%;
	margin:0 auto;
	margin-top: 50px;
	}
	
	.inner_form {
    margin-bottom: 150px;
    text-align: center;
    width: 100%;
}
		

.main > div {
display: inline-block;
width: 72%;
}
	
.register {
    color: #646464;
    font-family: 'MyriadProLight';
    font-size: 23px;
    line-height: 36px;
    padding: 0;
    width: 100%;
}
  	
	div{
		margin: 0 0 0px 0;
	  	border : none;
	}

	.application_form label {
	  	display: inline-block;
	  	width: 17%;
		font-family: 'MyriadProLight';
	  	text-align:left;
	  	margin: 10px;
		font-size:18px;
                color: #646464;
		font-weight: normal;
	}

	.application_form input[type=text], input[type=number]{
	width: 48%;
	height:50px;
	background:#fff;
	border:none;
	border-radius:5px;
	padding-left:19px;
	font-family: 'MyriadProLight';
	font-size:16px;
	color:#000;
	margin-bottom:20px;
        box-shadow: none;
}

  
.application_form input[type=text]:focus, input[type=number]:focus{
		background: #FFFFFF;
		border:1px solid #6ad631;
	}
	



.application_form .button2 {
background: #6ad631;
color: #fff;
border: none;
font-size:20px;
font-weight:normal;
padding: 14px 55px 16px 55px;
border-radius: 5px;
font-family: 'MyriadProRegular';
 margin-left: -221px;

}	
		

.application_form .button2:hover {
background: #fff;
color: #6ad631;

}

.progressing {
width: 100%;
height: 4px;
background: #fff;
position: relative;
top: 41px;
}

.tab-content {
margin-bottom: 60px;
margin-top: -59px;
text-align: justify;

}

	
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	margin-top: 18px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
list-style-type: none;
font-family: 'bebas_neueregular';
text-transform: uppercase;
font-size:22px;
width: 25%;
float: left;
position: relative;
line-height: 45px;
text-align: center;
height: 140px;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 40px;
	display: block;
	font-size: 18px;
	color: #333;
	background: white;
	border-radius: 20px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.active a{ color: #27ae60;}


/*appalication page design css close here*/


/*sign up form start here*/

.main_sign_up{
	width:100%;
	margin-bottom:50px;
	margin-top:50px;
        text-align: center;}

.main_sign_up input[type=text], input[type=number], input[type=email], select{
	width:60%;
	height:50px;
         box-shadow: none;
	background:#fff;
	border:none;
	border-radius:5px;
	padding-left:19px;
	font-family: 'MyriadProLight';
	font-size:16px;
	color:#000;
	margin-bottom:20px;
        margin-left: 3px;
}


.main_sign_up input[type=password]
{
	width:60%;
        margin-left: 3px;}

	.main_sign_up textarea {
	width: 60%;
        margin-left: 3px;
	height:120px;
	background:#fff;
	border:none;
	border-radius:5px;
	padding-left:19px;
	font-family: 'MyriadProLight';
	font-size:16px;
	color:#000;
	margin-bottom:13px;
	padding-top:12px;
}

.main_sign_up input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=email]:focus, select:focus, textarea:focus{
background: #FFFFFF;
border:1px solid #6ad631;
}

.main_sign_up .button3 {
    background: none repeat scroll 0 0 #6ad631;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-family: 'MyriadProRegular';
    font-size: 18px;
    font-weight: normal;
    margin-left: -7px;
    margin-top: 2px;
    padding: 14px 25px 16px;
}
	
	
.main_sign_up .button3:hover{
background: #fff;
color: #6ad631;
}

	.main_sign_up label{
	  	display: inline-block;
	  	width:35%;
		font-family: 'MyriadProLight';
	  	text-align:left;
	  	margin: 10px;
		font-size:18px;
		font-weight: normal;
		vertical-align: top;
	}

 .member_action{
 font-family: 'MyriadProLight';
 font-size:17px;
 font-weight: normal;
 padding-left: 10px;
 }



/*sign up form close here*/



.staff_sign_up {
    float: left;
    left: 317px;
    margin-bottom: 79px;
    position: relative;
    top: 50px;
     width: 60%;
}


.staff_sign_up label {
    color: #646464;
    display: inline-block;
    float: left;
    font-family: "MyriadProLight";
    font-size: 18px;
    font-weight: normal;
    margin: 20px 15px 0 7px;
    text-align: left;
    vertical-align: sub;
    width: 33%;
}

.staff_sign_up .radio, .checkbox {
    display: block;
    margin-bottom: 20px;
    margin-left: 31px;
    margin-top: 10px;
    min-height: 20px;
    position: relative;
}


.staff_sign_up .button6 {
    background: none repeat scroll 0 0 #6ad631;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-family: 'MyriadProRegular';
    font-size: 18px;
    font-weight: normal;
   padding: 14px 50px 16px;
       margin-left: 131px;
       }


 .staff_sign_up input[type="text"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 5px;
    color: #000;
    font-family: "MyriadProLight";
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 19px;
    width: 100%;
}

.staff_sign_up input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 5px;
    color: #000;
    font-family: "MyriadProLight";
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 19px;
    width: 100%;
}

.staff_sign_up input[type="password"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 5px;
    color: #000;
    font-family: "MyriadProLight";
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 19px;
    width: 100%;
}



/*sign in form start here*/

.main_sign_up input[type=text], input[type=email], input[type=password]  {
  background: none repeat scroll 0 0 #fff;
    border: medium none;
     box-shadow: none;
    border-radius: 5px;
    color: #000;
    font-family: 'MyriadProLight';
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 19px;
    width: 60%;
    margin-left:3px;}



.main_sign_in {
width:42%;
margin-bottom: 50px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 30px;

}


.logged_out {
width:42%;
margin-bottom: 50px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 30px;
margin: 0 auto 81px;

}

.content-listing.generic-form {
    list-style-type: none;
}



.main_sign_in input[type=text], input[type=password] {
height: 50px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:70%;
}

.main_sign_in input[type=text]:focus, input[type=password]:focus{
background: #FFFFFF;
border:1px solid #6ad631;
}

.main_sign_in label {
    color: #646464;
    display: inline-block;
    font-family: "MyriadProLight";
    font-size: 18px;
    font-weight: normal;
    margin: 20px 6px 6px;
    text-align: left;
    vertical-align: sub;
    width: 14%;
}

.required-field {
    color: #646464;
}

.main_sign_in .button4 {
background: #6ad631;
color: #fff;
border: none;
font-size:18px;
font-weight:normal;
padding:14px 50px 16px 50px;
border-radius: 5px;
font-family: 'MyriadProRegular';
margin-left: 126px;
}
	
	
.main_sign_in .button4:hover{
background: #fff;
color: #6ad631;
}

.buttons p {
    margin-left: 125px;
    margin-top: 15px;
}


.reset_profile .button5 {
background: #6ad631;
color: #fff;
border: none;
font-size:18px;
font-weight:normal;
padding:14px 50px 16px 50px;
border-radius: 5px;
font-family: 'MyriadProRegular';
margin-left: 126px;
}


.main_sign_in input[type=password]{
height: 50px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:70%;
}

.field {
    float: left;
    margin-left: 140px;
    margin-top: -33px;
    width: 100%;
}

.entry {
    margin-left: -14px;
    margin-top: 14px;
}


.reset_profile .entry {
    margin-left: -14px;
    margin-top: 35px;
}

/*sign in form close here*/




/*forgot password css start here*/


.reset_profile label
{
       color: #646464;
    display: inline-block;
    font-family: "MyriadProLight";
    font-size: 18px;
    font-weight: normal;
     margin: 20px -26px 0 7px;
    text-align: left;
    vertical-align: sub;
    width: 14%;
}


.main_forgot_pass {
width:42%;
margin-bottom: 50px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 50px;
}


.main_forgot_pass label{
display: inline-block;
width:23%;
font-family: 'MyriadProLight';
text-align:left;
margin: 10px;
font-size:18px;
font-weight: normal;
vertical-align: top;
}


.main_forgot_pass .button5 {
background: #6ad631;
color: #fff;
border: none;
font-size:18px;
font-weight:normal;
padding:14px 28px 16px 28px;
border-radius: 5px;
font-family: 'MyriadProRegular';
}


.main_forgot_pass input[type=email]{
height: 50px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:70%;
}

/*forgot password css close here*/


/*reset password start here*/


.reset_pass{
width:46%;
margin-bottom: 50px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 50px;
}

.reset_pass input[type=password]{
height: 50px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:64%;
}

.reset_pass label{
display: inline-block;
width:31%;
font-family: 'MyriadProLight';
text-align:left;
margin: 10px;
font-size:18px;
font-weight: normal;
vertical-align: top;
}

.reset_pass .button5 {
background: #6ad631;
color: #fff;
border: none;
font-size:18px;
font-weight:normal;
padding:14px 28px 16px 28px;
border-radius: 5px;
font-family: 'MyriadProRegular';
}


/*reset password close here*/


/*main_dashboard start here*/

.Dashing_profile{
	 float: left;
    left: 126px;
    position: relative;
    top: 50px;
    width: 60%;

	}
        
        
        .reset_profile {
    float: left;
    left: 317px;
    margin-bottom: 79px;
    position: relative;
    top: 50px;
    width: 42%;
}

.reset_profile input[type="text"]
{    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 5px;
    color: #000;
    font-family: 'MyriadProLight';
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 19px;
    width: 70%;}


.Dashing_profile ul{
	margin:0px;
	padding:0px;
	list-style-type:none;}
	
.Dashing_profile ul li{
	float:left;
	padding:3px 8px 0px 12px;}	
	

.Dashing_profile ul li a{ color:#6ad631; 
font-family: 'MyriadProRegular';
font-size:16px;}	

.Dashing_profile ul li a:hover{ color:#6ad631;
text-decoration:underline;}


.left_vertical_nav{
	width:100%;
	padding-top:67px;
	padding-bottom:50px;
	}

.navigation {
   width:100%;
}

.navigation ul {
 list-style-type:none;
 margin:0px;
 padding:0px;
}


.navigation ul li {
}

.navigation ul li a {
   background:#399e03;
   border-bottom:1px dotted #5fc12a;
   color: #fff;
   display: block;
   font-size: 16px;
   padding: 8px 10px 8px 5px;
   text-decoration: none;
   padding-left: 15px;
   width:100%; 
   font-family: 'MyriadProLight';
}
.navigation ul li > a:hover {
   background:url(../img/arrow1.png) no-repeat #5fc12a;
   background-position: 96% 50%;
   border-color: #27ae60;
    color: #FFFFFF;
	}
.navigation .selected{   background:url(../img/arrow1.png) no-repeat #5fc12a;
   background-position: 96% 50%;
   border-color: #27ae60;
    color: #FFFFFF;}

.right_dashboard {
width: 100%;
margin-top: 67px;
border: 1px solid #d7d7d7;
display: inline-block;
margin-bottom: 50px;
}

.first_part_start{border-bottom:1px solid #d7d7d7; float:left; width:100%; padding-bottom: 5px;}

.first_part_start:hover{background:#e8e8e8;}

.john_style {
width: 100%;
text-align: center;
font-family: 'bebas_neueregular';
line-height: 35px;
margin-left: 3px;
font-size: 20px;
}

.inner_heading_part
{
	font-size:40px;
	 font-family: 'BebasNeueLight';
	 color:#606060;
	 text-align:left;
	 font-weight:bold;
	  letter-spacing: 1px;
	   line-height:39px;
	   padding:15px 0px 15px 15px;
	   }


.prof_man{
	width:20%;
	padding-left:15px;
	padding-top:15px;
	float:left;}
	
	.inner_contact{
		float: left;
    padding-left: 20px;
    padding-top: 14px;
    width: 58%;
		}
		
address {
font-family: 'MyriadProLight';
font-size: 18px;
line-height: 29px;
}

.social_activity{
	 float: left;
    padding: 13px 0px;
    width: 20%;}


.social_activity ul{
	margin:0px;
	padding:0px;
	list-style-type:none;}
	
	.social_activity ul li{
		float:left;
		padding:0px 16px 0px 0px;
		}


.social_activity ul li a{
	font-size:23px;
	color:#666666;}

.social_activity ul li a:hover{
	font-size:23px;
	color:#000;}

.checking_part{
	width:100%;
	margin-top:85px;
	font-family: 'MyriadProLight';
	font-size:18px;}

.checking_part input[type="checkbox"] {
margin: 4px 7px 1px 0px;
}


.swiper-wrapper.col8 {
    transform: none !important;
    width: 100% !important;
}





/*=====my lender css start====*/


.my_lender_dashboard {
width: 100%;
margin-top: 67px;
border: 1px solid #d7d7d7;
display: inline-block;
margin-bottom: 50px;
border-bottom: none;
height:466px;
}

.about_lender{
	width:100%;
	margin-top: 15px;
	float:left;}
	
	.inner_about{
		width:20%; 
		padding-top:4px;
		float:left;
		font-size:25px;
		text-align: center;
		font-family: 'bebas_neueregular';
		}
		
		.about_content_part{
			width:80%;
			float:left;}
			
			.about_content_part p{font-family: 'MyriadProLight';
			font-size:18px;
			text-align:justify;
			padding-left: 20px;
			line-height: 25px;
			padding-right: 20px;
			}
			
			.selected_my_lender{
				width:100%;
				padding-left:20px;
				float:left;}
			


/*lender's account css start here*/


.lender_account_dashboard{
	width: 100%;
margin-top: 67px;
border: 1px solid #d7d7d7;
display: inline-block;
margin-bottom: 50px;
}



.lender_account_part_start{
 float:left;
 width:100%;
 padding-bottom: 5px;}


.progressing_lender {
width: 100%;
height: 4px;
background: #fff;
position: relative;
top: 41px;
}

.tab-content{
 margin-bottom: 60px;
    margin-top: 0;
    padding: 3px 0 0;
    text-align: justify;
}

	
/*progressbar*/
#progressbar_lender {
	margin-bottom: 30px;
	margin-top: 18px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar_lender li {
list-style-type: none;
font-family: 'bebas_neueregular';
text-transform: uppercase;
font-size:22px;
width: 20%;
float: left;
position: relative;
line-height: 45px;
text-align: center;
height: 140px;
}
#progressbar_lender li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 40px;
	display: block;
	font-size: 18px;
	color: #333;
	background: white;
	border-radius: 20px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/

#progressbar_lender li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar_lender li.active:before{
	background: #27AE60;
	color: white;
}

.active a{ color: #27ae60;}


.offred_lead{
	width:100%;
	float:left;	
	}

.lead_content,  .number_part{
	width:100%;
	font-family: 'MyriadProRegular';
	font-size:16px;
	line-height:23px;}
	
	.pricing_part_form{
		width:100%;
		margin-top:15px;
		float:left;
		
		}
	
	button.beatpicker-clear.beatpicker-clearButton.button {
display: none;
}

.date_lender{
	width:35%;
	float:left;}
	
	.date_lender > label{
		width:20%;
		float:left;
		font-family: 'MyriadProLight' !important;
		font-size:16px;
		padding-top:10px;}
	

.date_lender input[type=text]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:80%;
background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYI…hLhSk7hRsD2a761lePSnV4dCo+1ptLzraUrtZoKuyomySSST/TpHK2EwuDfsOxddovp1P/2Q==);
background-repeat: no-repeat;
background-position: 96% 52%;
}

.hour_lender{
	width:30%;
	float:left;
	margin-left:10px;}
	
.hour_lender > label{
		width:33%;
		float:left;
		font-family: 'MyriadProLight' !important;
		font-size:16px;
		padding-top:10px;
		}

.hour_lender input[type=number]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:66%;
}



.leads_lender{
	width:32.5%;
	float:left;
	margin-left:10px;}


.leads_lender > label{
		width:25%;
		float:left;
		font-family: 'MyriadProLight' !important;
		font-size:16px;
		padding-top:10px;
		}

.leads_lender input[type=text]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:75%;
}


.pricing_part_form input[type=text]:focus, input[type=number]:focus{
background: #FFFFFF;
border:1px solid #6ad631;
background-position: 96% 52%;
background-repeat:no-repeat;
}

.add_more {
background: #6ad631;
color: #fff !important;
border: none;
font-size: 17px;
font-weight: normal;
border-radius: 4px;
font-family: 'MyriadProLight';
float: left;
padding: 10px 0px 9px 0px;
margin-left: 56px;
}



.add_more a{color:#fff;
padding: 10px 28px 10px 28px;
border-radius: 4px;

}
.add_more a:hover{background: #fff;
color: #6ad631;}

.save_btn{
	float:left;
	margin-left:10px;}
	
.added_having {
background: #6ad631;
color: #fff;
border: none;
font-size: 17px;
font-weight: normal;
padding: 10px 30px 9px 30px;
border-radius: 4px;
font-family: 'MyriadProLight';
float: left;
}

.added_having:hover{
background: #fff;
color: #6ad631;}


.next_more {
background: #6ad631;
color: #fff !important;
border: none;
font-size: 17px;
font-weight: normal;
border-radius: 4px;
font-family: 'MyriadProLight';
float: left;
padding: 10px 0px 9px 0px;
margin-left: 56px;
margin-top:20px;
}



.next_more a{color:#fff;
padding: 10px 35px 10px 35px;
border-radius: 4px;

}
.next_more a:hover{background: #fff;
color: #6ad631;}


.payment_inner{
	width:100%;
	float: left;
}

.payment_inner label{
		width:10%;
		float:left;
		font-family: 'MyriadProLight' !important;
		font-size:16px;
		padding-top:10px;
		}



.payment_inner input[type=text]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-family: 'MyriadProLight';
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:31%;
background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYI…hLhSk7hRsD2a761lePSnV4dCo+1ptLzraUrtZoKuyomySSST/TpHK2EwuDfsOxddovp1P/2Q==);
background-repeat: no-repeat;
background-position: 96% 52%;
}




.payment_inner input[type=text]:focus, input[type=number]:focus{
background: #FFFFFF;
border:1px solid #6ad631;
background-position: 96% 52%;
background-repeat:no-repeat;
}



.place_order {
background: #6ad631;
color: #fff;
border: none;
font-size: 17px;
font-weight: normal;
padding: 10px 30px 9px 30px;
border-radius: 4px;
font-family: 'MyriadProLight';
float: left;
}

.place_order:hover{
background: #fff;
color: #6ad631;}


.request_complete{
	width:100%;
	float:left;}

.request{
font-family: 'MyriadProRegular';
font-size:16px;
}











/* responsive css start here*/

@media(max-width:1400px){
	
	.member_action{
		font-size:15px;}
	}


@media (min-width:992px) and (max-width:1199px)
{


/*sign up form css srart here*/

.main_sign_up label{
	width:33%;}
	
	.main_sign_up input[type="text"], input[type="number"], input[type="password"], input[type="email"], select{
		width:61%;}

.main_sign_up textarea{
	width:60%;
        margin-left:3px;}
	
	.main_sign_up .button3{ padding:11px;}
	
	.member_action{
		font-size:13px;}
	
	
/* application page css start here*/
	
.button2 {
background: #6ad631;
color: #fff;
border: none;
font-size: 20px;
font-weight: normal;
padding: 14px 55px 16px 55px;
border-radius: 5px;
font-family: 'MyriadProRegular';
}

/* application page css close here*/	

	
.legal_info {
width: 185px;
float: left;
}

.legal_info1 {
width: 158px;
float: left;
margin-left: 45px;
}

.social_icon {
width: 58%;
float: right;
}

.denied_paragraph1 {
font-size: 16px;
}

.denied_paragraph {
font-size: 16px;
}


/*sign up*/


.main_sign_up input[type=password] {
width: 61%;
}



/*sign in css start here*/

.main_sign_in {
    width: 75%;
}



/*forgot password css start here*/
.main_forgot_pass{
	width:60%;}





/*reset password css start here */


.reset_pass{
	width:60%;}




/*staff dashboard css start here*/

.inner_contact {
    width: 56%;
}

.social_activity {
    width: 24%;
}

.Dashing_profile {
    float: left;
    left: 49px;
    position: relative;
    top: 50px;
    width: 48%;
}


	
}

@media (min-width:768px) and (max-width:991px)
{
.inner_headline {
font-size: 38px;
padding: 42px 0px 28px 0px;
line-height: 47px;
}

.inner_headline span {
font-size: 22px;
font-family: 'MyriadProLight';
color: #606060;
text-align: center;
font-weight: normal;
line-height: 22px;
}
	
#part_body {
width: 100%;
background: url(../img/inner_bg.png) repeat;
padding: 47px 0px 50px 0px;
background-size: 100%;
}

li.dept{
	font-size:16px;
}
	
.poweratic {
font-size: 16px;
}

#footer_nav {
padding: 75px 0px 65px 0px;
}

.legal_info {
width: 158px;
float: left;
}

.legal_info1 {
width: 115px;
float: left;
margin-left:21px;
}


.legal_info2 {
width: 154px;
float: left;
margin-left: 6px;
}

.social_icon {
width: 75%;
float: right;
}

.footer_logo {
float: right;
width: 89%;
}


.menu_heading {
    font-family: "BebasNeueLight";
    font-size: 22px;
    font-weight: bold;
    width: 100%;
}


/*application page responsive css start*/

label {
width: 25%;
}



#progressbar li{
	font-size:18px;}



.application_form input[type=text], input[type=number]
{
	width:60%;}
	
	.application_form label{
		width:23%;}
		
		.application_form .button2{
			width:60%;}






/*sign in page responsive css start*/
.main_sign_in {
    width: 75%;
}



/*forgot password css start here*/
.main_forgot_pass{
	width:70%;}


/*reset password start here*/

.reset_pass{
	width:80%;}


/*dashboard page one start here*/

.Dashing_profile {
    float: left;
    left: 13px;
    position: relative;
    top: 49px;
    width: 42%;
}

.navigation ul li a
{
	font-size:15px;}


/*dashboard css start here*/

.inner_contact {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    width: 49%;
}

address {
    font-family: "MyriadProLight";
    font-size: 16px;
    line-height: 29px;
}

.social_activity {
    float: left;
    padding: 15px 0 0 15px;
    width: 31%;
}



	}


@media (max-width:767px)
{
.main_heading {
    font-size: 64px;
}

.main_heading span {
font-size: 28px;
letter-spacing: 10px;
margin-left: 13px;
text-shadow: 2px 2px 2px #2f2f2f;
word-spacing: -4px;
}


.formatting {
width: 62% !important;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
width: 20px;
height: 20px;
margin-top: -9px;
font-family: serif;
}


.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
right: 50%;
margin-right: -44px;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
left: 50%;
margin-left: -46px;
}

.carousel-indicators {
margin-top: 332px;
}

.lender_logo {
margin-top: -1px;
margin-left: 20px;
}

.inner_headline {
font-size: 35px;
font-family: 'BebasNeueLight';
color: #606060;
text-align: center;
padding: 37px 0px 31px 0px;
font-weight: bold;
letter-spacing: 1px;
line-height: 46px;
}

.inner_headline span {
font-size: 23px;
font-family: 'MyriadProLight';
color: #606060;
text-align: center;
font-weight: normal;
line-height: 23px;
}


.col-md-4.col-sm-4.office {
margin: -14px 0px 55px 0px;
}

#part_body {
width: 100%;
background: url(../img/inner_bg.png) repeat;
padding: 60px 0px 0px 0px;
background-size: 100%;
}

li.dept {
font-size: 18px;
text-align: center;
}

.social_icon {
width: 100%;
float: right;
}

#part_end {
width: 100%;
background: #5fc12a;
padding: 19px 0px 30px 0px;
}

.legal_info1 {
    float: left;
    margin-left: 15px;
    width: 125px;
}

.legal_info2 {
float: left;
margin-left: 15px;
width: 33%;
}

.legal_info {
    float: left;
    width: 188px;
}

.footer_logo {
    padding-top: 40px !important;
    text-align: center;
    width: 100%;
}

#footer_nav {
    background: url("../img/footer_back.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    padding: 78px 0 66px;
    width: 100%;
}

.copyright {
    color: #ffffff;
    font-family: "MyriadProLight";
    font-size: 16px;
    margin-top: 21px;
    width: 60%;
}


.social_icon {
    float: right;
    margin-top: -24px;
    width: 100%;
}

/*application page css start here*/
.main > div {
    display: inline-block;
    width: 100%;
}

#progressbar li {
    font-size: 17px;
}

.footer_logo > img {
width: 30%;
}


.application_form label{
	width:30%;}



/*application page css close here*/


.main_sign_in {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 83%;
}



/*forgot passowrd css start here*/

.main_forgot_pass{
	width:80%;}


/*reset password css start here*/
.reset_pass {
width:100%;
}

.reset_pass input[type=password]
{
	width:63%;}



/*staff-dashboard css start here*/

.right_dashboard {
    border: 1px solid #d7d7d7;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: -10px;
    width: 100%;
}

.left_vertical_nav {
    padding-bottom: 50px;
    padding-top: 47px;
    width: 100%;
}

.inner_contact {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    width:47%;
}

address {
    font-family: "MyriadProLight";
    font-size: 15px;
    line-height: 29px;
}

.social_activity {
    float: left;
    padding: 15px 0 0 15px;
    width: 33%;
}



.Dashing_profile {
    float: left;
    position: relative;
    top: 15px;
    width: 100%;
	 left: 0;
}

.navbar-collapse.collapse.in {
    margin-top: 57px !important;
    width: 100%;
	margin-left: 0;
}

#toggle {
    display: block;
    height: 30px;
    margin: 24px 251px 150px 0;
    width: 28px;
}

#header_application {
    padding-bottom: 18px;
}


	
	}
	

@media (max-width:550px)
{
	label {
    width: 24%;
}	
.legal_info {
    float: left;
    width: 164px;
}
.legal_info1 {
    float: left;
    margin-left: 15px;
    width: 100px;
}

.main_sign_up input[type=text], input[type=number], input[type=password], input[type=email], select
{
	width:100%;}
	
	.main_sign_up textarea{
		width:100%;}


.application_form label{
	width:26%:}


}



@media (max-width:590px)
{#progressbar li {
font-size: 15px;
}

.legal_info1 {
float: left;
margin-left: 15px;
width: 22%;
}

.legal_info {
float: left;
width: 30%;
}



.application_form label{
	width:26%:}	
	
	}	

@media (max-width:480px)
{
	
	#toggle {
    display: block;
    height: 30px;
    margin: 42px 129px 10px auto;
    width: 28px;
}


#menu {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    color: #999999;
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -4px;
    transition: opacity 0.4s ease 0s;
    width: 100%;
}


#menu:after {
    border-bottom: 20px solid #ffffff;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    left: 130px;
    position: absolute;
    top: -15px;
}

	.lender_logo {
    margin-left: 16px;
    width: 40%;
}

	.main_heading {
font-size:43px;
line-height: 45px;
}

.main_heading span {
    font-size: 23px;
    letter-spacing: 3px;
    margin-left: 2px;
    text-shadow: 2px 2px 2px #2f2f2f;
    word-spacing: 0;
}

.formatting {
    margin-top: -25px;
    width: 99% !important;
}	
	
.button {
    margin-top: 22px;
}

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
	  margin-left: 6px;
    margin-top: -36px;
}

.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    left: auto;
    right: 0;
	   margin-right: 6px;
    margin-top: -36px;
}


.inner_headline {
    font-size: 33px;
}

.inner_headline span {
    font-size: 21px;
}

.denied_paragraph1 {
    font-size: 15px;
}

.denied_paragraph {
    font-size: 15px;
    line-height: 23px;
    margin-top: 12px;
}

.legal_info {
    float: left;
    text-align: center;
    width: 100%;
	margin-left:0px;
}

.legal_info1 {
    float: left;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}


.legal_info2 {
    float: left;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}


#footer_nav {
    background: url("../img/footer_back.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    padding: 42px 0 44px;
    width: 100%;
}

.copyright {
    color: #ffffff;
    font-family: "MyriadProLight";
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 12px;
	text-align:center;
    width: 100%;
}


.pull-right {
    float: none !important;
}

.social_icon {
    margin-top: -8px;
    text-align: center;
    width: 100%;
}



/*application page css start here*/

.main > div {
display: inline-block;
width: 100%;
}

input[type=text], input[type=number] {
height: 35px;
background: #fff;
border: none;
border-radius: 5px;
font-family: 'MyriadProLight';
font-size: 12px;
color: #000;
margin-bottom: 10px;
}

label {
display: inline-block;
width: 26%;
text-align: left;
margin: 10px;
font-size: 12px;
}

.button2 {
    border-radius: 5px;
    font-size: 15px;
    margin-top: 3px;
    padding: 7px 30px;
    width: 64%;
}

#header_application {
padding-bottom: 15px;
}

.inner_headline1 {
font-size: 29px;
padding: 30px 0px 0px 0px;
line-height: 42px;
}

#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 28px;
line-height: 28px;
display: block;
font-size: 18px;
color: #333;
background: white;
border-radius: 20px;
margin: 0 auto 5px auto;
}


#progressbar {
margin-bottom: 30px;
margin-top: 24px;
overflow: hidden;
counter-reset: step;
}
#progressbar li {
list-style-type: none;
font-family: 'bebas_neueregular';
text-transform: uppercase;
font-size: 14px;
width: 25%;
float: left;
position: relative;
line-height: 20px;
text-align: center;
}

.tab-content {
margin-bottom: 30px;
text-align: justify;
}

.application_form input[type=text], input[type=number]{
width:66%;}

.application_form label{
	width:28%;}


.application_form .button2{
	width:66%;}
        

/*application page css close here*/


/*sign up form start here*/

.main_sign_up label {
    width: 100%;
}

.main_sign_up input[type="text"], input[type="number"], input[type="password"], input[type="email"], select{width: 100%;}
	
.main_sign_up textarea{width:100%;}

.main_sign_up .button3 {
    background: none repeat scroll 0 0 #6ad631;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "MyriadProRegular";
    font-size: 16px;
    font-weight: normal;
    padding: 14px 16px;
}

.member_action {
    font-family: "MyriadProLight";
    font-size: 16px;
    font-weight: normal;
    padding-left: 3px;
}




.main_sign_in {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}



.lnk-t-lndr
{
    margin-top: 58px;
}
.lnk-t-lndr a{
    color: #6ad631;
    font-family: arial;
    font-size: 18px;
    position: absolute;
    left:790px;
    top:90px;
}
.lnk-t-lndr a:hover{
   color: #fff;
   text-decoration: none;
}


.main_sign_up input[type=password] {
width: 100%;
}

/*forgot password css start here*/

.main_forgot_pass label {
width:23%;
}

.main_forgot_pass {
width: 100%;
}

.main_forgot_pass input[type=email]{
	width:70%;}
	
.main_forgot_pass .button5 {
padding: 14px 24px 16px 24px;
}

/*reset password css start here*/

.reset_pass{
	width:100%;}

.reset_pass input[type=password]
{
	width:62%;}

.reset_pass .button5 {
font-size: 16px;
padding: 13px 13px 13px 13px;
}


/*dashboard css start here*/

.Dashing_profile {
    float: left;
    left: 0;
    position: relative;
    top: 18px;
    width: 100%;
}


.social_activity {
    float: left;
    padding: 15px 0 0 15px;
    width: 100%;
}

address {
    font-family: "MyriadProLight";
    font-size: 17px;
    line-height: 29px;
}

.inner_contact {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}

.prof_man {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
}

.john_style {
    font-family: "bebas_neueregular";
    font-size: 20px;
    line-height: 35px;
    margin-left: 25px;
    text-align: center;
    width: 100%;
}

.right_dashboard
{margin-top:0px;}

	
/*dashboard css start here*/	
	
.navbar-collapse.collapse.in {
    margin-left: 0;
    margin-top: 76px !important;
	width:100%;
}

#toggle {
    display: block;
    height: 30px;
    margin: 42px 107px 10px auto;
    width: 28px;
}

#menu:after {
    border-bottom: 20px solid #ffffff;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    left: 105px;
    position: absolute;
    top: -15px;
}

#menu{
	height:118px;}
	
.checking_part {
    font-family: "MyriadProLight";
    font-size: 15px;
    margin-top: 0;
    width: 100%;
}

.social_activity ul li {
    float: left;
    padding: 0 14px 0 0;
}

.Dashing_profile ul li {
    float: none;
    padding: 3px 8px 10px 12px;
    text-align: center;
}

.Dashing_profile li {
    border: medium none !important;
}	
		
	
	

	}


.pull-right > li {
    float: right;
    margin-top: -24px;
}


.full_apart
{
   width: 100%;
   text-align: center;
   border: 1px solid red;
}


#loader_app {
    background: url("../img/bx_loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: none;
    left: 50%;
    margin-left: -25px;
    margin-top: -15px;
    padding: 26px;
    position: fixed;
    top: 50%;
    width: auto;
    z-index: 99999;
}


.hectic
{
   width: 50%;
   text-align: center;
   margin-left: 24%;
   margin-bottom:80px;
}

/*-----main-customer-profile-page css start here-------*/



.customer_profile_dashboard{
width: 100%;
margin-top: 67px;
border: 1px solid #d7d7d7;
display: inline-block;
margin-bottom: 50px;
}



.customer_profile{
 float:left;
 width:100%;
 padding-bottom: 5px;
 }


	.inner_customer{
		width:80%;
		float:left;
		padding-top: 15px;
		padding-left: 40px;
		}

	.inner_customer label {
	  	display: inline-block;
	  	width:14%;
		font-family: 'MyriadProLight';
	  	text-align:left;
	  	margin: 10px;
		font-size:18px;
		font-weight: normal;
		vertical-align: top;
	}

.inner_customer input[type=text], input[type=number], input[type=email]{
	width:60%;
	height:50px;
	background:#fff;
	border:none;
	border-radius:5px;
	padding-left:19px;
	font-family: 'MyriadProLight';
	font-size:16px;
	color:#000;
	margin-bottom:20px;
}


.inner_customer textarea{
	width:60%;
	height:100px;
	background:#fff;
	border:none;
	border-radius:5px;
	padding-left:19px;
	font-family: 'MyriadProLight';
	font-size:16px;
	color:#000;
	margin-bottom:13px;
	padding-top:10px;
}
  
.inner_customer input[type=text]:focus, input[type=number]:focus{
		background: #FFFFFF;
		border:1px solid #6ad631;
	}
	
.inner_customer textarea:focus{
		background: #FFFFFF;
		border:1px solid #6ad631;
	}


.john_style_second {
width: 100%;
text-align: center;
font-family: 'bebas_neueregular';
line-height: 35px;
margin-left:6px;
font-size: 20px;
}


.inner_customer .button3 {
background: #6ad631;
color: #fff;
border: none;
font-size:18px;
font-weight:normal;
padding:14px 25px 16px 25px;
border-radius: 5px;
font-family: 'MyriadProRegular';
}
	
.inner_customer .button3:hover {
background: #fff;
color: #6ad631;
}








