
.chartWrap {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.nvtooltip {
    -moz-user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: Arial;
    font-size: 13px;
    padding: 1px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: 10000;
    width: 480px !important;
    z-index: 999999;
    display: inline-table;
    opacity: 0.9 !important;
    background: #ffffff !important;
}
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
    transition: opacity 250ms linear 250ms;
}
.nvtooltip.x-nvtooltip, .nvtooltip.y-nvtooltip {
    padding: 20px;
}
.nvtooltip h3 {
    background-color: rgba(247, 247, 247, 1);
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 4px 14px;
    text-align: center;
    display: block;
}
.nvtooltip p {
    margin: 0;
    padding: 5px 14px;
    text-align: center;
}
.nvtooltip span {
    display: inline-block;
    margin: 2px 0;
}
.nvtooltip table {
    border-spacing: 0;
    margin: 6px;
}
.nvtooltip table td {
    padding: 2px 9px 2px 0;
    vertical-align: middle;
}
.nvtooltip table td.key {
    font-weight: normal;
}
.nvtooltip table td.value {
    font-weight: bold;
    text-align: right;
}
.nvtooltip table tr.highlight td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 1px 9px 1px 0;
}
.nvtooltip table td.legend-color-guide div {
    height: 8px;
    vertical-align: middle;
    width: 8px;
}
.nvtooltip .footer {
    padding: 3px;
    text-align: center;
}
.nvtooltip-pending-removal {
    pointer-events: none;
    position: absolute;
}
svg {
    -moz-user-select: none;
    display: block;
    height: 100%;
    width: 100%;
}
svg text {
    font: 12px Arial;
}
svg .title {
    font: bold 14px Arial;
}
.nvd3 .nv-background {
    fill: white;
    fill-opacity: 0;
}
.nvd3.nv-noData {
    font-size: 18px;
    font-weight: bold;
}
.nv-brush .extent {
    fill-opacity: 0.125;
    shape-rendering: crispedges;
}
.nvd3 .nv-legend .nv-series {
    cursor: pointer;
}
.nvd3 .nv-legend .disabled circle {
    fill-opacity: 0;
}
.nvd3 .nv-axis {
    pointer-events: none;
}
.nvd3 .nv-axis path {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000;
    stroke-opacity: 0.75;
}
.nvd3 .nv-axis path.domain {
    stroke-opacity: 0.75;
}
.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 0;
}
.nvd3 .nv-axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #e5e5e5;
}
.nvd3 .nv-axis .zero line, .nvd3 .nv-axis line.zero {
    stroke-opacity: 0.75;
}
.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: bold;
}
.nvd3 .x .nv-axis .nv-axisMaxMin text, .nvd3 .x2 .nv-axis .nv-axisMaxMin text, .nvd3 .x3 .nv-axis .nv-axisMaxMin text {
    text-anchor: middle;
}
.nv-brush .resize path {
    fill: #eee;
    stroke: #666;
}
.nvd3 .nv-bars .negative rect {
}
.nvd3 .nv-bars rect {
    fill-opacity: 0.75;
    transition: fill-opacity 250ms linear 0s;
}
.nvd3 .nv-bars rect.hover {
    fill-opacity: 1;
}
.nvd3 .nv-bars .hover rect {
    fill: lightblue;
}
.nvd3 .nv-bars text {
    fill: rgba(0, 0, 0, 0);
}
.nvd3 .nv-bars .hover text {
    fill: rgba(0, 0, 0, 1);
}
.nvd3 .nv-multibar .nv-groups rect, .nvd3 .nv-multibarHorizontal .nv-groups rect, .nvd3 .nv-discretebar .nv-groups rect {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear 0s;
}
.nvd3 .nv-multibar .nv-groups rect:hover, .nvd3 .nv-multibarHorizontal .nv-groups rect:hover, .nvd3 .nv-discretebar .nv-groups rect:hover {
    fill-opacity: 1;
}
.nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text {
    fill: rgba(0, 0, 0, 1);
    font-weight: bold;
    stroke: rgba(0, 0, 0, 0);
}
.nvd3.nv-pie path {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear 0s, stroke-width 250ms linear 0s, stroke-opacity 250ms linear 0s;
}
.nvd3.nv-pie .nv-slice text {
    stroke: #000;
    stroke-width: 0;
}
.nvd3.nv-pie path {
    stroke: #fff;
    stroke-opacity: 1;
    stroke-width: 1px;
}
.nvd3.nv-pie .hover path {
    fill-opacity: 0.7;
}
.nvd3.nv-pie .nv-label {
    pointer-events: none;
}
.nvd3.nv-pie .nv-label rect {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3 .nv-groups path.nv-line {
    fill: none;
    stroke-width: 1.5px;
}
.nvd3 .nv-groups path.nv-line.nv-thin-line {
    stroke-width: 1px;
}
.nvd3 .nv-groups path.nv-area {
    stroke: none;
}
.nvd3 .nv-line.hover path {
    stroke-width: 6px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: 0.5 !important;
    stroke-opacity: 0.5 !important;
}
.with-transitions .nvd3 .nv-groups .nv-point {
    transition: stroke-width 250ms linear 0s, stroke-opacity 250ms linear 0s;
}
.nvd3.nv-scatter .nv-groups .nv-point.hover, .nvd3 .nv-groups .nv-point.hover {
    fill-opacity: 0.95 !important;
    stroke-opacity: 0.95 !important;
    stroke-width: 7px;
}
.nvd3 .nv-point-paths path {
    fill: #eee;
    fill-opacity: 0;
    stroke: #aaa;
    stroke-opacity: 0;
}
.nvd3 .nv-indexLine {
    cursor: ew-resize;
}
.nvd3 .nv-distribution {
    pointer-events: none;
}
.nvd3 .nv-groups .nv-point.hover {
    stroke-opacity: 0.5;
    stroke-width: 20px;
}
.nvd3 .nv-scatter .nv-point.hover {
    fill-opacity: 1;
}
.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: 0.7;
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear 0s, stroke-opacity 250ms linear 0s;
}
.nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: 0.9;
}
.nvd3.nv-stackedarea .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3.nv-linePlusBar .nv-bar rect {
    fill-opacity: 0.75;
}
.nvd3.nv-linePlusBar .nv-bar rect:hover {
    fill-opacity: 1;
}
.nvd3.nv-bullet {
    font: 10px sans-serif;
}
.nvd3.nv-bullet .nv-measure {
    fill-opacity: 0.8;
}
.nvd3.nv-bullet .nv-measure:hover {
    fill-opacity: 1;
}
.nvd3.nv-bullet .nv-marker {
    stroke: #000;
    stroke-width: 2px;
}
.nvd3.nv-bullet .nv-markerTriangle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}
.nvd3.nv-bullet .nv-tick line {
    stroke: #666;
    stroke-width: 0.5px;
}
.nvd3.nv-bullet .nv-range.nv-s0 {
    fill: #eee;
}
.nvd3.nv-bullet .nv-range.nv-s1 {
    fill: #ddd;
}
.nvd3.nv-bullet .nv-range.nv-s2 {
    fill: #ccc;
}
.nvd3.nv-bullet .nv-title {
    font-size: 14px;
    font-weight: bold;
}
.nvd3.nv-bullet .nv-subtitle {
    fill: #999;
}
.nvd3.nv-bullet .nv-range {
    fill: #bababa;
    fill-opacity: 0.4;
}
.nvd3.nv-bullet .nv-range:hover {
    fill-opacity: 0.7;
}
.nvd3.nv-sparkline path {
    fill: none;
}
.nvd3.nv-sparklineplus g.nv-hoverValue {
    pointer-events: none;
}
.nvd3.nv-sparklineplus .nv-hoverValue line {
    stroke: #333;
    stroke-width: 1.5px;
}
.nvd3.nv-sparklineplus, .nvd3.nv-sparklineplus g {
    pointer-events: all;
}
.nvd3 .nv-hoverArea {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3.nv-sparklineplus .nv-xValue, .nvd3.nv-sparklineplus .nv-yValue {
    font-size: 0.9em;
    font-weight: normal;
    stroke-width: 0;
}
.nvd3.nv-sparklineplus .nv-yValue {
    stroke: #f66;
}
.nvd3.nv-sparklineplus .nv-maxValue {
    fill: #2ca02c;
    stroke: #2ca02c;
}
.nvd3.nv-sparklineplus .nv-minValue {
    fill: #d62728;
    stroke: #d62728;
}
.nvd3.nv-sparklineplus .nv-currentValue {
    font-size: 1.1em;
    font-weight: bold;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
    stroke-width: 2px;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
    stroke-width: 4px;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
    stroke: #2ca02c;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
    stroke: #d62728;
}
.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
    font-weight: bold;
}
.nvd3.nv-historicalStockChart .nv-dragTarget {
    cursor: move;
    fill-opacity: 0;
    stroke: none;
}
.nvd3 .nv-brush .extent {
    fill-opacity: 0 !important;
}
.nvd3 .nv-brushBackground rect {
    fill: #fff;
    fill-opacity: 0.7;
    stroke: #000;
    stroke-width: 0.4;
}
.nvd3.nv-indentedtree .name {
    margin-left: 5px;
}
.nvd3.nv-indentedtree .clickable {
    color: #08c;
    cursor: pointer;
}
.nvd3.nv-indentedtree span.clickable:hover {
    color: #005580;
    text-decoration: underline;
}
.nvd3.nv-indentedtree .nv-childrenCount {
    display: inline-block;
    margin-left: 5px;
}
.nvd3.nv-indentedtree .nv-treeicon {
    cursor: pointer;
}
.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
    cursor: pointer;
}
.nvd3 .background path {
    fill: none;
    shape-rendering: crispedges;
    stroke: #ccc;
    stroke-opacity: 0.4;
}
.nvd3 .foreground path {
    fill: none;
    stroke: steelblue;
    stroke-opacity: 0.7;
}
.nvd3 .brush .extent {
    fill-opacity: 0.3;
    shape-rendering: crispedges;
    stroke: #fff;
}
.nvd3 .axis line, .axis path {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000;
}
.nvd3 .axis text {
    text-shadow: 0 1px 0 #fff;
}
.nvd3 .nv-interactiveGuideLine {
    pointer-events: none;
}
.nvd3 line.nv-guideline {
    stroke: #ccc;
}
.tick line {
    opacity: 0.4;
}
