<!DOCTYPE html>
<html class="ng-scope" ng-app="biddle" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none !important;}ng\:form{display:block;}</style></head><body class="ng-scope" ng-controller="bidCtrl"><div class="header-main"><div class="dibble-hdng"><h4><a href="http://localhost:3002/"><p> B</p><p class="bid">iddle</p></a></h4></div><div class="cssmenu"><ul><li class="active"><a href="http://localhost:3002/"><span>Home</span></a></li><li><a href="http://localhost:3002/addproject"><span>Add Project</span></a></li><li><a href="http://localhost:3002/projectlist"><span>Project List</span></a></li></ul></div></div><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><title>Biddle</title><link rel="stylesheet" href="Biddle_files/bootstrap.css"><link rel="stylesheet" href="Biddle_files/style.css"><link rel="stylesheet" href="Biddle_files/biddle.css"><link rel="stylesheet" href="Biddle_files/nav.css"><script src="Biddle_files/angular.js"></script><script src="Biddle_files/angular-resource.js"></script><script src="Biddle_files/jquery.js"></script><!--script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')--><!--script(src='/socket.io/socket.io.js')--><script src="Biddle_files/app.js"></script><script src="Biddle_files/services.js"></script><script src="Biddle_files/controller.js"></script><script src="Biddle_files/validatebidform.js"></script><div class="container"><div ng-view="">
<form class="form-horizontal ng-scope ng-valid ng-dirty" name="profileForm" ng-submit="createBid()">
      Bidder Name:&nbsp;&nbsp;&nbsp;<select class="form-control ng-pristine ng-valid" ng-model="biddername"><option selected="selected" value="? undefined:undefined ?"></option>
         <!-- ngRepeat: bidders in biddingreport.biddingreport --><option value="Gagandeep Sekhon" class="ng-scope ng-binding" ng-repeat="bidders in biddingreport.biddingreport">Gagandeep Sekhon</option><option value="Sumiti Sharma" class="ng-scope ng-binding" ng-repeat="bidders in biddingreport.biddingreport">Sumiti Sharma</option><option value="Renu Sharma" class="ng-scope ng-binding" ng-repeat="bidders in biddingreport.biddingreport">Renu Sharma</option>
      </select><br><br>
      Job Url :<br> <input value="http://www.example.com/mypage/user/1" id="joburl" ng-model="url" class="form-control ng-valid ng-dirty" ng-keyup="keyPress($event)" placeholder="Enter a valid url" type="text"><br><br>
      Job Portal:&nbsp;&nbsp;&nbsp;<select class="form-control ng-pristine ng-valid" ng-model="jobportal"><option selected="selected" value="? undefined:undefined ?"></option>
        <option value="odesk">odesk</option>
  	   <option value="elance">elance</option>
      </select><br><br>
      Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control ng-pristine ng-valid" ng-model="status"><option selected="selected" value="? undefined:undefined ?"></option>
        <option value="Working">Working</option>
  	<option value="Applied">Applied</option>
      </select><br><br>
      <div class="checkbox">
    <label for="is_invite">
      <input class="ng-pristine ng-valid" ng-model="isinvite" type="checkbox"> IsInvite
    </label>
    </div><br>
      Comments/Remarks<br>
      <textarea type="text" ng-model="comments" class="form-control ng-pristine ng-valid"></textarea><br><br>
<button type="submit" class="btn btn-primary">Submit</button> 
</form>


</div></div></body></html>