{% extends 'accounts.html' %}
{% load staticfiles %}


{% block content %}
{% block paging_css %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}



<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="container" ng-controller="{% block ng_controller %}CustomerDashboardController{% endblock %}">
        {% block dashboard %}
	<div class="row">
	    
    
	<div class="col-md-3 col-sm-3">
    {% block sidebar %}
     <div class="left_vertical_nav">
     <div class="navigation">
     <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/dashboard/" class="selected">Select a new lender</a></li>
     <li><a href="/mylender/">My Lender</a></li>
     <li><a href="/myaccount/">My Profile</a></li>
     <li><a href="/pages/contact-us/">Contact Us</a></li>
     <li><a href="">FAQ's</a></li>
     </ul>
     </div>
	 </div>
     {% endblock %}
    
	</div>


	<!--============right_content_start_here===============-->
    
	<div class="col-md-9 col-sm-9">
    <div class="right_dashboard">
    
    
       <div class="device">
    <a class="arrow-left" href="#"></a> 
    <a class="arrow-right" href="#"></a>
    <div class="swiper-container">
      <div class="swiper-wrapper">
      
              <div class="inner_heading_part">Lenders</div>

		<div id="lenderStatus" class="alert alert-error"></div>
     <!--====first inner part start here====--> 
    <div class="swiper-slide" ng-repeat = "lender in filteredlenders | orderBy: 'distance'">
    <div class="first_part_start"><!--first part start here-->
    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{lender.Name}}{% endverbatim %}</span></div>
    <div class="inner_contact">
    <form id = "myform">{% csrf_token %}   
    <address>{% verbatim %}
    <strong>Store</strong> : {{ lender.Store }}<br>
	<strong>Email</strong> : {{ lender.Email }}<br>
	<strong>Phone</strong> : {{ lender.Phone }}<br>
	<strong>Address</strong> : {{ lender.Address }}
    </address>
    </form>
    </div>
    
    <div class="social_activity">
    <ul>
    <li><a title="map" rel='tooltip' data-placement='top' href="#"><i class="fa fa-map-marker"></i></a></li>
    <li><a title="phone" rel='tooltip' data-placement='top' href="#"><i class="fa fa-phone"></i></a></li>
    <li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
    <li><a title="like" rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li>
    </ul>
    <!--div class="checking_part"><input type="checkbox" ng-change="chooseLender(lender.id)" name="option" value="lenders">Choose Lender</div-->
     <!--div class="checking_part"><input type="checkbox" id="lender_chck" ng-change="chooseLender({{lender.id}})" ng-checked="lender.is_choosen" ng-model="lender" value="lender">Choose Lender</div-->
    <div class="checking_part"><input type="checkbox" id = "chck_lender" name="option"   ng-change="chooseLender({{lender.id}})" ng-checked="lender.is_choosen" ng-model="lenders" value="lenders">Choose Lender</div>
    </div>{% endverbatim %}
    </div><!--first part close here-->
    </div>
  	<!--====first inner part close here====--> 
        </div>
    </div>
  </div>
     <div data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div>
    
   
    
    </div> 
    </div>

	<!--=============right_content_close_here==============-->

 
    
    
	</div>
	</div>
    
{% endblock %}
	</div>
	</section>
{% endblock %}

{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock %}
