{% extends 'base.html' %}
{% load staticfiles %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block content %}
<section id="neighboured_second">
    <div class="container">
      {% block account %}
	<div class="row">
	  <div class="col-md-3 col-sm-3">
	    <div class="left_vertical_nav">
	      <div class="navigation">
		<ul>
		  <li><a href="" class="selected">Account</a></li>
		  <li><a href="">Appointments</a></li>
		  <li><a href="">My Lenders</a></li>
		  <li><a href="">Inbox</a></li>
		  <li><a href="">News</a></li>
		  <li><a href="">Report</a></li>
		</ul>
	      </div>
	    </div>
	  </div>
	  <!--============right_content_start_here===============-->
	  <div class="col-md-9 col-sm-9">
	    <div class="customer_profile_dashboard">
	      <div class="device">
		<a class="arrow-left" href="#"></a> 
		<a class="arrow-right" href="#"></a>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <!--====first inner part start here====--> 
		    <div class="swiper-slide" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
		      <div class="customer_profile" ng-controller="{% block ng_controller %}CustomerProfileController{% endblock %}"><!--first part start here-->
			<div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style_second">Member Since 1 year</span></div>
			<div class="inner_customer">
			    <div id="leadStatus"></div>
			  <form  ng-submit="submit()" role="form" name="leadinfo" id="leadInformation-form"  method="POST">{% csrf_token %}
			    {% verbatim %}
			    <div class="col-md-6">
				<div>
				  <label>First_Name :</label>
				  <input required type="text" maxlength="50" id="first_name" ng-model="first_name">
				</div>
			    
				<div>
				  <label>Last_Name :</label>
				  <input required maxlength="50" type="text" id="last_name" ng-model="last_name">
				</div>
			    
				<div>
				  <label>Phone home:</label>
				  <input type="text" maxlength="10" ng-model="customerPhone" onkeypress='return event.charCode <= 57'>
				</div>
    
				<div>
				  <label>Email :</label>
				  <input required type="email" maxlength="50" ng-model="customerEmail">
				</div>
			    
				<div>
				  <label>Middle Init :</label>
				  <input  type="text" placeholder='Middle Initial' maxlength="1" id="middle_init" ng-model="middle_init">
				</div>
			    
				<div>
				  <label>Street Address1 :</label>
				  <textarea required  maxlength="50" placeholder="Street Address" ng-model="customerAddress1"></textarea>
				</div>
			    
				<div>
				  <label>Street Address2 :</label>
				  <textarea  placeholder="Additional Street Address" ng-model="customerAddress2"></textarea>
				</div>
			    
				<div>
				  <label>City :</label>
				  <input  required type="text" placeholder='Enter your city' maxlength="100" id="city" ng-model="city">
				</div>
			    
				<div>
				    <label for="incorporation">State:<span class="star">*</span></label>
				    <select id="location" name="location" ng-model="state" required>
					<option value="">Select Your State...</option>
					<option value="Al">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NE">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				    </select>
				</div>
				
				<div>
				  <label>Zip Code:</label>
				  <input type="text" maxlength="5" id="zip_code" ng-model="zip_code" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Social Security :</label>
				  <input required type="text" maxlength="9" id="security_num" ng-model="security_num" placeholder="Social security Number">
				</div>
			    
				<div>
				  <label>Phone Cell:</label>
				  <input type="text" placeholder="Phone Cell Number" maxlength="10" id="phone_cell" ng-model="phone_cell" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Phone Work:</label>
				  <input required type="text" placeholder="Phone Work Number" maxlength="10" id="phone_work" ng-model="phone_work" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Phone Work Ext:</label>
				  <input  type="text" placeholder="Work Phone Extension" maxlength="5" id="phonework_ext" ng-model="phonework_ext" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>DOB:</label>
				  <input  required type="text" placeholder='YYYY-MM-DD' maxlength="10" ng-model="birth_date">
				</div>
			    
				<div>
				  <label>Employer Name:</label>
				  <input  required type="text" placeholder='Name of the Employer' maxlength="35" id="employer_name" ng-model="employer_name">
				</div>
			    
				<div>
				  <label for="Frequency">Pay Frequency:<span class="star">*</span></label>
				    <select id="frequency" name="frequency" ng-model="pay_frequency" required>
					<option value="">How often a paycheck is issued...</option>
					<option value="WEEKLY">WEEKLY</option>
					<option value="BIWEEKLY">BIWEEKLY</option>
					<option value="TWICEMONTH">TWICEMONTH</option>
					<option value="MONTHLY">MONTHLY</option>
				    </select>
				</div>
			    
				<div>
				  <label for="Deposite">Direct Deposite:<span class="star">*</span></label>
				    <select id="deposite" name="deposite" ng-model="direct_deposite" required>
					<option value="">Does applicant have direct deposit? ...</option>
					<option value="1">true</option>
					<option value="0">false</option>
				    </select>
				</div>
			    
			    </div><!--Left part ends -->
			    <div class="col-md-6">
				<div>
				  <label>Pay Day 1:</label>
				  <input  required type="text" placeholder='Day of next pay check(YYYY-MM-DD)' maxlength="10" ng-model="payday1">
				</div>
				
				<div>
				  <label>Pay Day 2:</label>
				  <input  required type="text" placeholder='Day of second pay check(YYYY-MM-DD)' maxlength="10" ng-model="payday2">
				</div>
			    
				<div>
				  <label>Bank ABA:</label>
				  <input required type="text" placeholder="Bank Routing Number" maxlength="9" id ="routing_number" ng-model="routing_number" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Bank Account:</label>
				  <input required type="text" placeholder="Bank Account Number" maxlength="18" id ="account_number" ng-model="account_number" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Bank Name :</label>
				  <input required maxlength="30" placeholder="Name of the banking Institution" type="text" ng-model="bank_name">
				</div>
			    
				<div>
				  <label>Monthly Income:</label>
				  <input required type="text" placeholder="Total Monthly Income" maxlength="6" id ="monthly_income" ng-model="monthly_income" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label for="Deposite">Own Home:<span class="star">*</span></label>
				    <select id="home" name="home" ng-model="own_home" required>
					<option value="">Are you a home owner? ...</option>
					<option value="1">true</option>
					<option value="0">false</option>
				    </select>
				</div>
				
				<div>
				  <label>Driver's License Number:</label>
				  <input required type="text" placeholder="NC00392382" maxlength="25" id ="license_number" ng-model="license_number">
				</div>
			    
				<div>
				    <label for="incorporation">Driver's License State:<span class="star">*</span></label>
				    <select id="license" name="license" ng-model="license_state" required>
					<option value="">Select Your State...</option>
					<option value="Al">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NE">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				    </select>
				</div>
			    
				<div>
				  <label>ClientUrl Root:</label>
				  <input required type="text" placeholder="www.somecashadvancesite.com" maxlength="100" ng-model="url_root">
				</div>
			    
				<div>
				  <label>Client IP Address:</label>
				  <input required type="text" placeholder="127.000.000.001" maxlength="15" ng-model="ip_address">
				</div>
			    
				<div>
				  <label>Alternate Email :</label>
				  <input type="email" placeholder="Enter alternate email address" maxlength="100" ng-model="alternate_email">
				</div>
			    
				<div>
				  <label>Months Employed:</label>
				  <input required type="text" placeholder="Months Employed" maxlength="3" id ="months_employed" ng-model="months_employed" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label for="Frequency">Income Type:<span class="star">*</span></label>
				    <select id="incometype" name="incometype" ng-model="income_type" required>
					<option value="">Select Income Type...</option>
					<option value="EMPLOYMENT">EMPLOYMENT</option>
					<option value="BENEFITS">BENEFITS</option>
					<option value="SELFEMPLOYED">SELFEMPLOYED</option>
					<option value="UNEMPLOYED">UNEMPLOYED</option>
				    </select>
				</div>
			    
				<div>
				  <label for="Deposite">Is Military:<span class="star">*</span></label>
				    <select id="military" name="military" ng-model="is_military" required>
					<option value="">Are you a active military? ...</option>
					<option value="1">true</option>
					<option value="0">false</option>
				    </select>
				</div>
			    
				<div>
				  <label for="Deposite">Bank account Type:<span class="star">*</span></label>
				    <select id="account_type" name="account_type" ng-model="account_type" required>
					<option value="">Type of Bank Account ...</option>
					<option value="CHECKING">CHECKING</option>
					<option value="SAVINGS">SAVINGS</option>
				    </select>
				</div>
			    
				<div>
				  <label>Requested Amount:</label>
				  <input required type="text" placeholder="Enter Requested Amount(No decimals allowed)" maxlength="5" id ="requested_amount" ng-model="requested_amount" onkeypress='return  event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Months At Address:</label>
				  <input required type="text" placeholder="Enter Number of Months at this address" maxlength="3" id ="months_add" ng-model="months_add" onkeypress='return event.charCode <= 57'>
				</div>
			    
				<div>
				  <label>Months At Bank:</label>
				  <input required type="text" placeholder="Enter Number of Months at Bank" maxlength="3" id ="months_bank" ng-model="months_bank" onkeypress='return event.charCode <= 57'>
				</div>
			    </div><!--right part ends-->
			    <div>
			      <label></label>
			      <input  required type="submit"  id="submit" value="Save Changes" class="button3">
			    </div>
			  {% endverbatim %}
			  </form>
			</div>
		      </div><!--first part close here-->
		    </div>
		    <!--====first inner part close here====--> 
		  </div>
		</div>
		<div class="pagination"></div>
		</div>
	      </div> 
	    </div>
	    <!--=============right_content_close_here==============-->
	  </div>
	
	</div>
      {% endblock %}
      </div>
  </section>
{% endblock %}
{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock %}

