{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Logged out" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}


{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block content %}
{% url 'auth_login' as auth_login_url %}
<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>
    
    <section id="neighboured_second">
        <div class="container">
        <div class="row">
            <div class="col-md-12">

    <div class="inner_headline1">Logged Out</div>

    <div class="logged_out">
        <p class="alert alert-success">{% trans "Successfully logged out!" %}</p>
        <p>
            {% blocktrans %}<a href="{{ auth_login_url }}">Log in</a> again.{% endblocktrans %}
        </p>
    </div>
            </div>
        </div>
    </section>
    
    </div>
</div>
{% endblock content %}
