{% load i18n %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>
    <section id="neighboured_second">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_headline1">Reset password</div>

    

    <div class="reset_profile ">
        <p>
        {% blocktrans %}
        Forgot your password?  Enter your email in the form below and we'll send you
        instructions for creating a new one.
        {% endblocktrans %}
        </p>

        <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="content-listing generic-form">
                {% include "dash/snippets/generic_form_snippet.html" %}
                <li class="buttons">
                    <div>
                        <button class="button5" type="submit">{% trans "Reset password" %}</button>
                    </div>
                </li>
            </ul>
        </form>
        </div>
    </div>
            </div>
        </section>
    </div>
</div>