{% load i18n %}
{% block text %}{% endblock %}

<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>
        <section id="neighboured_second">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner_headline1">Password Reset</div>
                            <div class="content-body">
                                <p>
                                    {% blocktrans %}
                                        We have sent you an email with a link to reset your password.
                                        Please check your email and click the link to continue.
                                    {% endblocktrans %}
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>