{% extends 'accounts.html' %}
{% load staticfiles %}

{% block content %}
{% block paging_css %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}
<meta http-equiv="refresh" content="20" >


<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="container" ng-controller="{% block ng_controller %}CustomerListController{% endblock %}">
        {% block dashboard %}
	    <div class="row">
		<div class="col-md-3 col-sm-3">
		    {% block sidebar %}
			<div class="left_vertical_nav">
			    <div class="navigation">
				<ul>
				    <li><a href="/">Home</a></li>
				    <li><a href="/staffdashboard">Lenders</a></li>
				    <li><a href="/staffdashboard/customers">Customers</a></li>
				    <li><a href="/helpdesk/">Helpdesk</a></li>
				    <li><a href="/staff">Go To Online Portal</a></li>
				</ul>
			    </div>
			</div>
		    {% endblock %}
		</div>
		
		<!--============right_content_start_here===============-->
		<div class="col-md-9 col-sm-9">
		    <div id="syncStatus"></div>
		    <div class="right_dashboard">
			
			<!--============tab_start_here===============-->
			
			<div class="bs-example bs-example-tabs">
			    <ul role="tablist" class="nav nav-tabs" id="myTab">
				<li class="active"><a data-toggle="tab" role="tab" href="#home">All</a></li>
				<li class=""><a data-toggle="tab" role="tab" href="#leads">Active Leads</a></li>
				<li class=""><a data-toggle="tab" role="tab" href="#profile">Abondened</a></li>
				<li class=""><a data-toggle="tab" role="tab" href="#profile">Logged In</a></li>
				<li class=""><a data-toggle="tab" role="tab" href="#profile">No Appointments</a></li>
				<input type="submit" class="button_syncdb" ng-click="convertToLead()" value="SyncToDb">
			    </ul>
			    <div class="tab-content" id="myTabContent">
				<div id="home" class="tab-pane fade active in">
				    <div class="swiper-slide" ng-repeat = "customer in filteredcustomers | orderBy: 'seconds'">
					<div class="first_part_start"><!--first part start here-->
					    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{customer.first_name}} {{customer.last_name}}{% endverbatim %}</span></div>
						<div class="inner_contact">
						    <form>{% csrf_token %}   
							<address>{% verbatim %}
							    <strong>Email</strong> : {{ customer.Email }}<br>
							    <strong>Phone</strong> : {{ customer.Phone }}<br>
							    <strong>Address</strong> : {{ customer.Address }}
							</address>{% endverbatim %}
						    </form>
						</div>
						<div class="social_activity">{% verbatim %}
						    <ul>
							<strong>Member Since</strong> : {{ customer.days }}Days<br>
							<strong>Last Login</strong> : {{ customer.lastloginhours }} hours ago<br>
							<strong>Last Login</strong> : {{ customer.lastloginminutes }} minutes ago<br> 
							<!--li><a title="map" rel='tooltip' data-placement='top' href="#"><i class="fa fa-map-marker"></i></a></li>
							<li><a title="phone" rel='tooltip' data-placement='top' href="#"><i class="fa fa-phone"></i></a></li>
							<li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
							<li><a title="like" rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li-->
						    </ul>
						    <div class="checking_part"><input type="checkbox" name="option" ng-checked="customer.lead_conversion" ng-checked="customer.is_lead" ng-change="approveLead({{customer}})" ng-model="lead" value="lead">Convert To Lead</div>
						</div>{% endverbatim %}
					</div><!--first part close here-->
				    </div>
				</div>
				<div id="leads" class="tab-pane fade active in">
				    <div class="swiper-slide" ng-repeat = "customer in filteredcustomers | orderBy: 'seconds'" ng-show="customer.lead_conversion=='1'">
					<div class="first_part_start"><!--first part start here-->
					    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{customer.first_name}} {{customer.last_name}}{% endverbatim %}</span></div>
						<div class="inner_contact">
						    <form>{% csrf_token %}   
							<address>{% verbatim %}
							    <strong>Email</strong> : {{ customer.Email }}<br>
							    <strong>Phone</strong> : {{ customer.Phone }}<br>
							    <strong>Address</strong> : {{ customer.Address }}
							</address>{% endverbatim %}
						    </form>
						</div>
						<div class="social_activity">{% verbatim %}
						    <ul>
							<strong>Member Since</strong> : {{ customer.days }}Days<br>
							<strong>Last Login</strong> : {{ customer.lastloginhours }} hours ago<br>
							<strong>Last Login</strong> : {{ customer.lastloginminutes }} minutes ago<br> 
						    </ul>
						    <div class="checking_part"><input type="checkbox" name="option" ng-checked="customer.lead_conversion" ng-checked="customer.is_lead" ng-change="approveLead({{customer}})" ng-model="lead" value="lead">Convert To Lead</div>
						</div>{% endverbatim %}
					</div><!--first part close here-->
				    </div>
				</div>
				<div id="profile" class="tab-pane fade">
				    <div class="swiper-slide" ng-repeat = "customer in filteredcustomers | orderBy: 'seconds'">
					<div class="first_part_start"><!--first part start here-->
					    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{customer.Name}}{% endverbatim %}</span></div>
						<div class="inner_contact">
						    <form>{% csrf_token %}   
							<address>{% verbatim %}
							    <strong>Email</strong> : {{ customer.Email }}<br>
							    <strong>Phone</strong> : {{ customer.Phone }}<br>
							    <strong>Address</strong> : {{ customer.Address }}
							</address>{% endverbatim %}
						    </form>
						</div>
						<div class="social_activity">
						    <ul>{% verbatim %}
							<strong>Member Since</strong> : {{ customer.days }}Days<br>
							<strong>Last Login</strong> : {{ customer.lastloginhours }} hours ago<br>
							<strong>Last Login</strong> : {{ customer.lastloginminutes }} minutes ago<br> 
			    			    </ul>{% endverbatim %}
						</div>
					</div><!--first part close here-->
				    </div>
				</div>
			    </div>
			</div>
			<div class="device">
			    <a class="arrow-left" href="#"></a> 
			    <a class="arrow-right" href="#"></a>
			    <div class="swiper-container">
				<div class="swiper-wrapper">
				</div>
			    </div>
			</div>	
			<div data-pagination="" data-num-pages="numPages()" 
			    data-current-page="currentPage" data-max-size="maxSize"  
			    data-boundary-links="true"></div>
		    </div> 
		</div>
		<!--=============right_content_close_here==============-->
	    
	</div>
    </div>
    {% endblock %}
    </div>
</section>
{% endblock %}

{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script>$('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })</script>
    
{% endblock %}

